<a href="https://colab.research.google.com/github/heokwon/Algorithm_Study/blob/main/Programmer's_Lv0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 정수 num1, num2가 매개변수 주어집니다.
# num1과 num2를 곱한 값을 return 하도록 solution 함수를 완성해주세요.
def solution(num1, num2):
    answer = num1*num2
    return answer

In [ ]:
# 정수 num1과 num2가 주어질 때, num1과 num2의 합을
# return하도록 soltuion 함수를 완성해주세요.
def solution(num1, num2):
    return num1+num2

In [ ]:
# 정수 num1, num2가 매개변수로 주어질 때, num1를 num2로
# 나눈 나머지를 return 하도록 solution 함수를 완성해주세요.
def solution(num1, num2):
    return num1%num2

In [ ]:
# 정수 num1과 num2가 주어질 때, num1에서 num2를 뺀 값을 
# return하도록 soltuion 함수를 완성해주세요.
def solution(num1, num2):
    return num1-num2

In [ ]:
# 정수 num1, num2가 매개변수로 주어질 때, num1을 num2로 
# 나눈 몫을 return 하도록 solution 함수를 완성해주세요.
def solution(num1, num2):
    return num1//num2

In [ ]:
# 머쓱이는 40살인 선생님이 몇 년도에 태어났는지 궁금해졌습니다. 
# 나이 age가 주어질 때, 2022년을 기준 출생 연도를 return 하는 solution 함수를 완성해주세요.
def solution(age):
    answer = 2022 - (age-1)
    return answer

In [ ]:
# 정수 num1과 num2가 매개변수로 주어집니다. 두 수가 같으면 1 
# 다르면 -1을 retrun하도록 solution 함수를 완성해주세요.
def solution(num1, num2):
    if num1 == num2:
        answer = 1
    else :
        answer = -1
    return answer

In [ ]:
# 정수 n이 주어질 때, n이하의 짝수를 모두 더한 값을 
# return 하도록 solution 함수를 작성해주세요.
def solution(n):
    num =[]
    for i in range(n+1):
        if i % 2 == 0:
            num.append(i)
    answer = sum(num)
    return answer

30

In [ ]:
# 정수 배열 numbers가 매개변수로 주어집니다. numbers의 원소의 
# 평균값을 return하도록 solution 함수를 완성해주세요.
def solution(numbers):
    answer = sum(numbers)/len(numbers)
    return answer

In [ ]:
# 정수 num1과 num2가 매개변수로 주어질 때, num1을 num2로 나눈 값에 
# 1,000을 곱한 후 정수 부분을 return 하도록 soltuion 함수를 완성해주세요.
def solution(num1, num2):
    answer = int((num1/num2)*1000)
    return answer

In [ ]:
# 정수가 담긴 배열 array와 정수 n이 매개변수로 주어질 때, 
# array에 n이 몇 개 있는 지를 return 하도록 solution 함수를 완성해보세요.
def solution(array, n):
    answer = 0
    for i in array:
        if i == n:
            answer += 1
    return answer

In [ ]:
# 사분면은 한 평면을 x축과 y축을 기준으로 나눈 네 부분입니다. 
# 사분면은 아래와 같이 1부터 4까지 번호를매깁니다.
def solution(dot):
    if dot[0]>0 and dot[1]>0:
        answer = 1
    elif dot[0]<0 and dot[1]>0:
        answer = 2
    elif dot[0]<0 and dot[1]<0:
        answer = 3
    else:
        answer = 4
    return answer

In [ ]:
# 각에서 0도 초과 90도 미만은 예각, 90도는 직각, 90도 초과 180도 미만은 
# 둔각 180도는 평각으로 분류합니다. 각 angle이 매개변수로 주어질 때 
# 예각일 때 1, 직각일 때 2, 둔각일 때 3, 평각일 때 4를 return하도록 solution 함수를 완성해주세요.
def solution(angle):
    if angle < 90:
        answer = 1
    elif angle == 90:
        answer = 2
    elif 90 < angle < 180:
        answer = 3
    elif angle == 180:
        answer = 4
    return answer

In [ ]:
# 정수 배열 numbers가 매개변수로 주어집니다. numbers의 각 원소에 
# 두배한 원소를 가진 배열을 return하도록 solution 함수를 완성해주세요.
def solution(numbers):
    answer = []
    for i in numbers:
        answer.append(i*2)
    return answer

In [ ]:
# 머쓱이는 추운 날에도 아이스 아메리카노만 마십니다. 아이스 아메리카노는 
# 한잔에 5,500원입니다. 머쓱이가 가지고 있는 돈 money가 매개변수로 주어질 때, 
# 머쓱이가 최대로 마실 수 있는 아메리카노의 잔 수와 남는 돈을 순서대로 담은 배열을 return 하도록 solution 함수를 완성해보세요
def solution(money):
    answer = [money // 5500, money % 5500]
    return answer

In [ ]:
# 정수 배열 numbers와 정수 num1, num2가 매개변수로 주어질 때, 
# numbers의 num1번 째 인덱스부터 num2번째 인덱스까지 자른 정수 배열을 
# return 하도록 solution 함수를 완성해보세요.
def solution(numbers, num1, num2):
    answer = numbers[num1:num2+1]
    return answer

In [ ]:
# 선분 세 개로 삼각형을 만들기 위해서는 다음과 같은 조건을 만족해야 합니다.

# 가장 긴 변의 길이는 다른 두 변의 길이의 합보다 작아야 합니다.
# 삼각형의 세 변의 길이가 담긴 배열 sides이 매개변수로 주어집니다. 
# 세 변으로 삼각형을 만들 수 있다면 1, 만들 수 없다면 2를 return하도록 solution 함수를 완성해주세요.
def solution(sides):
    a = max(sides)
    sides.remove(max(sides))
    if a < sum(sides):
        answer = 1
    else:
        answer = 2
    return answer

In [ ]:
# 문제 설명
# 문자열 배열 strlist가 매개변수로 주어집니다. strlist 각 원소의 
# 길이를 담은 배열을 retrun하도록 solution 함수를 완성해주세요.
def solution(strlist):
    answer = []
    for i in strlist:
        a = len(i)
        answer.append(a)
    return answer

In [ ]:
# 문제 설명
# 머쓱이는 학교에서 키 순으로 줄을 설 때 몇 번째로 서야 하는지 궁금해졌습니다. 
# 머쓱이네 반 친구들의 키가 담긴 정수 배열 array와 머쓱이의 키 height가 
# 매개변수로 주어질 때, 머쓱이보다 키 큰 사람 수를 return 하도록 solution 함수를 완성해보세요.
def solution(array, height):
    answer = 0
    for i in array:
        if i > height:
            answer += 1
    return answer

In [ ]:
# 머쓱이네 피자가게는 피자를 일곱 조각으로 잘라 줍니다. 피자를 나눠먹을 사람의 
# 수 n이 주어질 때, 모든 사람이 피자를 한 조각 이상 먹기 위해 필요한 피자의 수를 
# return 하는 solution 함수를 완성해보세요.
def solution(n):
    answer = ((n - 1) // 7) + 1
    return answer

In [ ]:
# 문제 설명
# 첫 번째 분수의 분자와 분모를 뜻하는 denum1, num1, 두 번째 분수의 분자와 
# 분모를 뜻하는 denum2, num2가 매개변수로 주어집니다. 두 분수를 더한 값을 
# 기약 분수로 나타냈을 때 분자와 분모를 순서대로 담은 배열을 return 하도록 
# solution 함수를 완성해보세요.
## 정답률 33퍼
def solution(denum1, num1, denum2, num2):
    for i in range(max(num1,num2), (num1*num2) + 1):
        if i % num1 == 0 and i % num2 == 0:
            b = i
            break
    a = denum1*(b/num1) + denum2*(b/num2)
    answer = [a, b]
    return answer

In [ ]:
# 소인수분해
def solution(denum1, num1, denum2, num2):
    answer = []
    if max(num1,num2)%min(num1,num2)==0:
        tmp =  max(num1,num2)//min(num1,num2)
        if num1 <=num2:
            answer = [denum1*tmp+denum2, num2]
        else:
            answer = [denum2*tmp+denum1, num1]
    else:
        answer = [denum2*num1+denum1*num2, num1*num2]
    
    div = 2
    while min(answer[0],answer[1])>=div:
        if answer[0]%div==0 and answer[1]%div==0:
            answer[0] = answer[0]//div
            answer[1] = answer[1]//div
        else:
            div+=1
    return answer

In [9]:
# 정수 n이 매개변수로 주어질 때 n의 각 자리 숫자의 합을 return하도록 solution 함수를 완성해주세요
def solution(n):
    answer = [int(i) for i in str(n)]
    return sum(answer)

10

In [12]:
# 머쓱이는 할머니께 생신 축하 편지를 쓰려고 합니다. 
# 할머니가 보시기 편하도록 글자 한 자 한 자를 가로 2cm 
# 크기로 적으려고 하며, 편지를 가로로만 적을 때, 축하 문구 
# message를 적기 위해 필요한 편지지의 최소 가로길이를 return 하도록 solution 함수를 완성해주세요.
def solution(message):
    answer = len(message*2)
    return answer

22

In [ ]:
# 중앙값은 어떤 주어진 값들을 크기의 순서대로 정렬했을 때 가장 
# 중앙에 위치하는 값을 의미합니다. 예를 들어 1, 2, 7, 10, 11의 중앙값은 7입니다. 
# 정수 배열 array가 매개변수로 주어질 때, 중앙값을 return 하도록 solution 함수를 완성해보세요.
def solution(array):
    a = sorted(array)
    idx = len(a)//2
    return (a[idx]+a[-idx-1])/2

In [ ]:
# 머쓱이네 양꼬치 가게는 10인분을 먹으면 음료수 하나를 서비스로 줍니다. 
# 양꼬치는 1인분에 12,000원, 음료수는 2,000원입니다. 정수 n과 k가 매개변수로 
# 주어졌을 때, 양꼬치 n인분과 음료수 k개를 먹었다면 총얼마를 지불해야 하는지 
# return 하도록 solution 함수를 완성해보세요.
def solution(n, k):
    answer = 12000*n + 2000*k
    if n >= 10:
        N = [int(i) for i in str(n)]
        answer = answer - 2000*N[0]
    return answer

In [28]:
# 머쓱이네 양꼬치 가게는 10인분을 먹으면 음료수 하나를 서비스로 줍니다. 
# 양꼬치는 1인분에 12,000원, 음료수는 2,000원입니다. 정수 n과 k가 매개변수로 
# 주어졌을 때, 양꼬치 n인분과 음료수 k개를 먹었다면 총얼마를 지불해야 하는지 
# return 하도록 solution 함수를 완성해보세요.
def solution(n, k):
    answer = 12000*n + 2000*k - 2000*(n//10)
    return answer
solution(64,6)

768000

In [33]:
# 정수가 들어 있는 배열 num_list가 매개변수로 주어집니다. num_list의 원소의 
# 순서를 거꾸로 뒤집은 배열을 return하도록 solution 함수를 완성해주세요.
def solution(num_list):
    num_list.reverse()
    return num_list
lst=[5, 3, 1, 1, 1, 0, 1]
solution(lst)

[1, 0, 1, 1, 1, 3, 5]

In [34]:
# 정수 n이 매개변수로 주어질 때, n의 약수를 오름차순으로 담은 배열을 
# return하도록 solution 함수를 완성해주세요.
def solution(n):
    answer = [i for i in range(1, n+1) if (n % i == 0)]
    return answer
solution(24)

[1, 2, 3, 4, 6, 8, 12, 24]

In [55]:
# 문제 설명
# 최빈값은 주어진 값 중에서 가장 자주 나오는 값을 의미합니다. 
# 정수 배열 array가 매개변수로 주어질 때, 최빈값을 return 하도록 
# solution 함수를 완성해보세요. 최빈값이 여러 개면 -1을 return 합니다.
from collections import Counter

def solution(array):
    a = Counter(array).most_common()
    if len(a) > 1:
        if a[0][1] == a[1][1]:
            answer = -1
        else:
            answer = a[0][0]
    else:
        answer = a[0][0]
    return answer
array = [1, 1, 2, 2]
solution(array)

-1

In [56]:
# 문제 설명
# 정수 n이 매개변수로 주어질 때, n 이하의 홀수가 오름차순으로 
# 담긴 배열을 return하도록 solution 함수를 완성해주세요.
def solution(n):
    answer = [i for i in range(1, n+1) if i % 2 != 0]
    return answer
solution(15)

[1, 3, 5, 7, 9, 11, 13, 15]

In [57]:
# 문제 설명
# 머쓱이네 피자가게는 피자를 여섯 조각으로 잘라 줍니다. 피자를 
# 나눠먹을 사람의 수 n이 매개변수로 주어질 때, n명이 주문한 피자를 
# 남기지 않고 모두 같은 수의 피자 조각을 먹어야 한다면 최소 몇 판을 
# 시켜야 하는지를 return 하도록 solution 함수를 완성해보세요.
def solution(n):
    for i in range(max(6,n),(6*n)+1):
        if i % 6 == 0 and i % n == 0:
            answer = i / 6
            break
    return answer
solution(10)

5.0