<a href="https://colab.research.google.com/github/heokwon/Algorithm_Study/blob/main/%EB%B0%B1%EC%A4%80%EB%AC%B8%EC%A0%9C%ED%92%80%EC%9D%B4CLASS_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###구구단
N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성하시오. 출력 형식에 맞춰서 출력하면 된다.

In [ ]:
n = int(input())
for i in range(1,10):
  print(n,'*',i,'=',n*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

###n 찍기
자연수 N이 주어졌을 때, 1부터 N까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

In [ ]:
n = int(input())

for i in range(1,n+1):
  if n <= 100000:
    print(i)

5
1
2
3
4
5

###윤년
연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오.

윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.

예를 들어, 2012년은 4의 배수이면서 100의 배수가 아니라서 윤년이다. 1900년은 100의 배수이고 400의 배수는 아니기 때문에 윤년이 아니다. 하지만, 2000년은 400의 배수이기 때문에 윤년이다.

In [ ]:
a = int(input())

if (a % 4 == 0 and a % 100 != 0) or a % 400 == 0 :
  print(1)
else:
  print(0)

4
1

###시험성적
시험 점수를 입력받아 90 ~ 100점은 A, 80 ~ 89점은 B, 70 ~ 79점은 C, 60 ~ 69점은 D, 나머지 점수는 F를 출력하는 프로그램을 작성하시오.



```
내가 쓴 답
```

In [ ]:
a = int(input())

if 0 <= a <= 100:
   if 90 <= a < 100:
     print('A')
   elif 80 <= a < 90:
     print('B')
   elif 70 <= a < 80:
     print('C')
   elif 60 <= a < 70:
     print('D')
   else:
     print('F')

79
C



```
구글링한 답
```

In [ ]:
a = int(input())

if a >= 90 :
    print('A')
elif a >= 80 :
    print('B')
elif a >= 70 :
    print('C')
elif a >= 60 :
    print('D')
else:
    print('F')

89
B

###알파벳 찾기
알파벳 소문자로만 이루어진 단어 S가 주어진다. 각각의 알파벳에 대해서, 단어에 포함되어 있는 경우에는 처음 등장하는 위치를, 포함되어 있지 않은 경우에는 -1을 출력하는 프로그램을 작성하시오.

In [ ]:
a = input()

alphabet = list(map(chr,range(97,123))) # a-z까지는 아스키코드에서 숫자 97-122에 해당,
                                        # range함수를 이용해서 97-122까지의 숫자 범위를chr()함수를 이용해서 
                                        # 알파벳으로 만들어주고 리스트로 변환해줌
for i in alphabet :
  print(a.find(i))

backjoon
1
0
2
-1
-1
-1
-1
-1
-1
4
3
-1
-1
7
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1

###별찍기
첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

In [ ]:
a = int(input())

for i in range(1,a+1):
  if 1 <= a <= 100:
    print('*'*i)

5
*
**
***
****
*****

###A+B-3
두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [ ]:
T = int(input())

for i in range(T):
  A,B = map(int,input().split())
  print(A+B)

3
1 1
2
1 3
4
2 4
6

###A+B -4
두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

입력은 여러 개의 테스트 케이스로 이루어져 있다.

각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)

In [ ]:
while True:
  try:
    A, B = map(int, input().split())
    print(A+B)
  except:
    break

1 1
2
2 2
4
3 3
6
4 4
8
5 5
10
0 0
0
11

###A+B -5
두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

입력은 여러 개의 테스트 케이스로 이루어져 있다.

각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)

입력의 마지막에는 0 두 개가 들어온다.

In [ ]:
while True:
  A, B = map(int, input().split())
  if A == 0 and B == 0:
    break;
  else:
    print(A+B)

1 1
2
2 2
4
3 3
6
4 4
8
5 5
10
0 0

###아스키 코드
알파벳 소문자, 대문자, 숫자 0-9중 하나가 주어졌을 때, 주어진 글자의 아스키 코드값을 출력하는 프로그램을 작성하시오

In [ ]:
a = input()

if type(a) == str:
  print(ord(a))
elif type(a) == int:
  print(chr(a))

A
65

###숫자의 합
N개의 숫자가 공백 없이 쓰여있다. 이 숫자를 모두 합해서 출력하는 프로그램을 작성하시오.

첫째 줄에 숫자의 개수 N (1 ≤ N ≤ 100)이 주어진다. 둘째 줄에 숫자 N개가 공백없이 주어진다.

In [ ]:
n = int(input())

print(sum(map(int,input())))

5
12345
15



```
for문을 이용
```

In [ ]:
n = input()
nums = input()
total = 0
for i in nums:
  total += int(i)
print(total)

5
12345
15

###최소,최대
N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.

첫째 줄에 정수의 개수 N (1 ≤ N ≤ 1,000,000)이 주어진다. 둘째 줄에는 N개의 정수를 공백으로 구분해서 주어진다. 모든 정수는 -1,000,000보다 크거나 같고, 1,000,000보다 작거나 같은 정수이다.

In [ ]:
n = int(input())
N = list(map(int,input().split()))
#del min,max
print(min(N), max(N))

5
20 10 35 30 7
7 35



```
for문 사용(구글링 답안)
```

In [ ]:
n = int(input())
num = list(map(int,input().split()))
max = num[0]
min = num[0]

for i in num[1:]:
  if i > max:
    max = i
  elif i < min:
    min = i
print(min,max)

5
20 10 35 30 7
7 35

###최댓값
9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.

예를 들어, 서로 다른 9개의 자연수

3, 29, 38, 12, 57, 74, 40, 85, 61

이 주어지면, 이들 중 최댓값은 85이고, 이 값은 8번째 수이다.

첫째 줄부터 아홉 번째 줄까지 한 줄에 하나의 자연수가 주어진다. 주어지는 자연수는 100 보다 작다.

###알람시계
상근이는 매일 아침 알람을 듣고 일어난다. 알람을 듣고 바로 일어나면 다행이겠지만, 항상 조금만 더 자려는 마음 때문에 매일 학교를 지각하고 있다.

상근이는 모든 방법을 동원해보았지만, 조금만 더 자려는 마음은 그 어떤 것도 없앨 수가 없었다.

이런 상근이를 불쌍하게 보던, 창영이는 자신이 사용하는 방법을 추천해 주었다.

바로 "45분 일찍 알람 설정하기"이다.

이 방법은 단순하다. 원래 설정되어 있는 알람을 45분 앞서는 시간으로 바꾸는 것이다. 어차피 알람 소리를 들으면, 알람을 끄고 조금 더 잘 것이기 때문이다. 이 방법을 사용하면, 매일 아침 더 잤다는 기분을 느낄 수 있고, 학교도 지각하지 않게 된다.

현재 상근이가 설정한 알람 시각이 주어졌을 때, 창영이의 방법을 사용한다면, 이를 언제로 고쳐야 하는지 구하는 프로그램을 작성하시오.

첫째 줄에 두 정수 H와 M이 주어진다. (0 ≤ H ≤ 23, 0 ≤ M ≤ 59) 그리고 이것은 현재 상근이가 설정한 놓은 알람 시간 H시 M분을 의미한다.

입력 시간은 24시간 표현을 사용한다. 24시간 표현에서 하루의 시작은 0:0(자정)이고, 끝은 23:59(다음날 자정 1분 전)이다. 시간을 나타낼 때, 불필요한 0은 사용하지 않는다.

In [ ]:
H, M = map(int, input().split())

if M >= 45 :
  print(H, M-45)
elif M < 45:
  print(H-1, (60-(M+15)))

10 10
9 35

###평균
세준이는 기말고사를 망쳤다. 세준이는 점수를 조작해서 집에 가져가기로 했다. 일단 세준이는 자기 점수 중에 최댓값을 골랐다. 이 값을 M이라고 한다. 그리고 나서 모든 점수를 점수/M*100으로 고쳤다.

예를 들어, 세준이의 최고점이 70이고, 수학점수가 50이었으면 수학점수는 50/70*100이 되어 71.43점이 된다.

세준이의 성적을 위의 방법대로 새로 계산했을 때, 새로운 평균을 구하는 프로그램을 작성하시오.

첫째 줄에 시험 본 과목의 개수 N이 주어진다. 이 값은 1000보다 작거나 같다. 둘째 줄에 세준이의 현재 성적이 주어진다. 이 값은 100보다 작거나 같은 음이 아닌 정수이고, 적어도 하나의 값은 0보다 크다.

In [ ]:
#자기 점수 중 max = M
#나머지 모든 점수 = 점수/M*100
#ex) M=70, math=50 >> math=50/70*100=71.43
#새로운 평균을 구하는 프로그램
#시험 본 과목의 개수 N( N <= 1000)
#현재 성적score(0<=score<=100)

N = int(input())
nums = list(map(int, input().split()))
print(sum(nums)/max(nums)*100/N)

3
40 80 60
75.0

#CLASS2
###벌집
위의 그림과 같이 육각형으로 이루어진 벌집이 있다. 그림에서 보는 바와 같이 중앙의 방 1부터 시작해서 이웃하는 방에 돌아가면서 1씩 증가하는 번호를 주소로 매길 수 있다. 숫자 N이 주어졌을 때, 벌집의 중앙 1에서 N번 방까지 최소 개수의 방을 지나서 갈 때 몇 개의 방을 지나가는지(시작과 끝을 포함하여)를 계산하는 프로그램을 작성하시오. 예를 들면, 13까지는 3개, 58까지는 5개를 지난다.

첫째 줄에 N(1 ≤ N ≤ 1,000,000,000)이 주어진다.

In [ ]:
N = int(input())
center = 1 # 스타트
cnt = 1 # 지나가는 방의 개수 카운트
        # 처음과 끝을 포함
while N > center:
  center += 6*cnt
  cnt += 1
print(cnt)

66
6



```
다른사람 풀이
```

In [ ]:
n = int(input())
k = (n-1)/6

i=0
while i*(i+1)/2<k:
    i+=1

print(i+1)

66
6

###분해합
어떤 자연수 N이 있을 때, 그 자연수 N의 분해합은 N과 N을 이루는 각 자리수의 합을 의미한다. 어떤 자연수 M의 분해합이 N인 경우, M을 N의 생성자라 한다. 예를 들어, 245의 분해합은 256(=245+2+4+5)이 된다. 따라서 245는 256의 생성자가 된다. 물론, 어떤 자연수의 경우에는 생성자가 없을 수도 있다. 반대로, 생성자가 여러 개인 자연수도 있을 수 있다.

자연수 N이 주어졌을 때, N의 가장 작은 생성자를 구해내는 프로그램을 작성하시오.

첫째 줄에 자연수 N(1 ≤ N ≤ 1,000,000)이 주어진다.



```
ex) N = 256(=245+2+4+5)
N = 분해합, M = 생성자
```



```
실패
```

In [ ]:
# 자연수 M의 분해합이 N
N = int(input())
result = 0 #첫째 줄에 답을 출력한다. 생성자가 없는 경우에는 0을 출력한다.
for i in range(N+1):
  nums = list(map(int,str(i)))

256
[0]
[1]
[2]
[3]
[4]
[5]
[6]
[7]
[8]
[9]
[1, 0]
[1, 1]
[1, 2]
[1, 3]
[1, 4]
[1, 5]
[1, 6]
[1, 7]
[1, 8]
[1, 9]
[2, 0]
[2, 1]
[2, 2]
[2, 3]
[2, 4]
[2, 5]
[2, 6]
[2, 7]
[2, 8]
[2, 9]
[3, 0]
[3, 1]
[3, 2]
[3, 3]
[3, 4]
[3, 5]
[3, 6]
[3, 7]
[3, 8]
[3, 9]
[4, 0]
[4, 1]
[4, 2]
[4, 3]
[4, 4]
[4, 5]
[4, 6]
[4, 7]
[4, 8]
[4, 9]
[5, 0]
[5, 1]
[5, 2]
[5, 3]
[5, 4]
[5, 5]
[5, 6]
[5, 7]
[5, 8]
[5, 9]
[6, 0]
[6, 1]
[6, 2]
[6, 3]
[6, 4]
[6, 5]
[6, 6]
[6, 7]
[6, 8]
[6, 9]
[7, 0]
[7, 1]
[7, 2]
[7, 3]
[7, 4]
[7, 5]
[7, 6]
[7, 7]
[7, 8]
[7, 9]
[8, 0]
[8, 1]
[8, 2]
[8, 3]
[8, 4]
[8, 5]
[8, 6]
[8, 7]
[8, 8]
[8, 9]
[9, 0]
[9, 1]
[9, 2]
[9, 3]
[9, 4]
[9, 5]
[9, 6]
[9, 7]
[9, 8]
[9, 9]
[1, 0, 0]
[1, 0, 1]
[1, 0, 2]
[1, 0, 3]
[1, 0, 4]
[1, 0, 5]
[1, 0, 6]
[1, 0, 7]
[1, 0, 8]
[1, 0, 9]
[1, 1, 0]
[1, 1, 1]
[1, 1, 2]
[1, 1, 3]
[1, 1, 4]
[1, 1, 5]
[1, 1, 6]
[1, 1, 7]
[1, 1, 8]
[1, 1, 9]
[1, 2, 0]
[1, 2, 1]
[1, 2, 2]
[1, 2, 3]
[1, 2, 4]
[1, 2, 5]
[1, 2, 6]
[1, 2, 7]
[1, 2, 8]
[1, 2, 9]
[1, 3, 0]
[1, 3, 1]
[1, 3, 2]
[1, 3, 3]
[1, 3, 4]
[1, 3, 5]
[1, 3, 6]
[1, 3, 7]
[1, 3, 8]
[1, 3, 9]
[1, 4, 0]
[1, 4, 1]
[1, 4, 2]
[1, 4, 3]
[1, 4, 4]
[1, 4, 5]
[1, 4, 6]
[1, 4, 7]
[1, 4, 8]
[1, 4, 9]
[1, 5, 0]
[1, 5, 1]
[1, 5, 2]
[1, 5, 3]
[1, 5, 4]
[1, 5, 5]
[1, 5, 6]
[1, 5, 7]
[1, 5, 8]
[1, 5, 9]
[1, 6, 0]
[1, 6, 1]
[1, 6, 2]
[1, 6, 3]
[1, 6, 4]
[1, 6, 5]
[1, 6, 6]
[1, 6, 7]
[1, 6, 8]
[1, 6, 9]
[1, 7, 0]
[1, 7, 1]
[1, 7, 2]
[1, 7, 3]
[1, 7, 4]
[1, 7, 5]
[1, 7, 6]
[1, 7, 7]
[1, 7, 8]
[1, 7, 9]
[1, 8, 0]
[1, 8, 1]
[1, 8, 2]
[1, 8, 3]
[1, 8, 4]
[1, 8, 5]
[1, 8, 6]
[1, 8, 7]
[1, 8, 8]
[1, 8, 9]
[1, 9, 0]
[1, 9, 1]
[1, 9, 2]
[1, 9, 3]
[1, 9, 4]
[1, 9, 5]
[1, 9, 6]
[1, 9, 7]
[1, 9, 8]
[1, 9, 9]
[2, 0, 0]
[2, 0, 1]
[2, 0, 2]
[2, 0, 3]
[2, 0, 4]
[2, 0, 5]
[2, 0, 6]
[2, 0, 7]
[2, 0, 8]
[2, 0, 9]
[2, 1, 0]
[2, 1, 1]
[2, 1, 2]
[2, 1, 3]
[2, 1, 4]
[2, 1, 5]
[2, 1, 6]
[2, 1, 7]
[2, 1, 8]
[2, 1, 9]
[2, 2, 0]
[2, 2, 1]
[2, 2, 2]
[2, 2, 3]
[2, 2, 4]
[2, 2, 5]
[2, 2, 6]
[2, 2, 7]
[2, 2, 8]
[2, 2, 9]
[2, 3, 0]
[2, 3, 1]
[2, 3, 2]
[2, 3, 3]
[2, 3, 4]
[2, 3, 5]
[2, 3, 6]
[2, 3, 7]
[2, 3, 8]
[2, 3, 9]
[2, 4, 0]
[2, 4, 1]
[2, 4, 2]
[2, 4, 3]
[2, 4, 4]
[2, 4, 5]
[2, 4, 6]
[2, 4, 7]
[2, 4, 8]
[2, 4, 9]
[2, 5, 0]
[2, 5, 1]
[2, 5, 2]
[2, 5, 3]
[2, 5, 4]
[2, 5, 5]



```
다른사람 풀이
```

In [ ]:
n = int(input()) #입력받은 자연수 n

for i in range(1, n+1):
    arr = list(map(int, str(i)))
    #print(arr)
    hap = i + sum(arr)
    #print(hap)
    if hap == n:
        print(i)
        break
    if i == n:
        print(0)
        break

256
245

###요세푸스 문제0
요세푸스 문제는 다음과 같다.

1번부터 N번까지 N명의 사람이 원을 이루면서 앉아있고, 양의 정수 K(≤ N)가 주어진다. 이제 순서대로 K번째 사람을 제거한다. 한 사람이 제거되면 남은 사람들로 이루어진 원을 따라 이 과정을 계속해 나간다. 이 과정은 N명의 사람이 모두 제거될 때까지 계속된다. 원에서 사람들이 제거되는 순서를 (N, K)-요세푸스 순열이라고 한다. 예를 들어 (7, 3)-요세푸스 순열은 <3, 6, 2, 7, 5, 1, 4>이다.

N과 K가 주어지면 (N, K)-요세푸스 순열을 구하는 프로그램을 작성하시오.

첫째 줄에 N과 K가 빈 칸을 사이에 두고 순서대로 주어진다. (1 ≤ K ≤ N ≤ 1,000)

In [ ]:
# 1-N, N명의 사람이 원
# K(<= N)
# 순서대로 K번째 사람 제거
# 한 사람이 제거되면 남은 사람들로 이루어진 원
# 과정을 계속해서 반복
# N명의 사람이 모두 제거될 때까지
# 원에서 사람들이 제거되는 순서를 (N, K)-요세푸스 순열
# ex) (7, 3)요세푸스 순열 = <3. 6. 2. 7. 5. 1. 4>
N, K = map(int, input().split())
#while N == 0:
numbers = []
new = []
for i in range(1, N+1):
  numbers.append(i)
  for j in numbers[K+1]:
    new_num = int(numbers[K+1])
    new.append(new_num)
    number

7 4
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
N, K = map(int,input().split())
ans= []
arr = [i for i in range(1,N+1)] 
num = 0
for i in range(N):
    num+=(K-1)
    if num >= len(arr):
        num %= len(arr)
    ans.append(str(arr[num]))
    arr.pop(num)

print("<",', '.join(ans),">", sep="")