<a href="https://colab.research.google.com/github/heokwon/Algorithm_Study/blob/main/Programmers/LV.2/Programmer's_Lv2_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **최댓값과 최솟값**
문자열 s에는 공백으로 구분된 숫자들이 저장되어 있습니다. str에 나타나는 숫자 중 최소값과 최대값을 찾아 이를 "(최소값) (최대값)"형태의 문자열을 반환하는 함수,solution을 완성하세요. 예를들어 s가 "1 2 3 4"라면 "1 4"를 리턴하고, "-1 -2 -3 -4"라면 "-4 -1"을 리턴하면 됩니다.
* 제한조건
  + s에는 둘 이상의 정수가 공백으로 구분되어 있습니다.

In [ ]:
s = "-1 -2 -3 -4"
s = list(map(int,s.split()))
s

[-1, -2, -3, -4]

In [ ]:
s = "-1 -2 -3 -4"
def solution(s):
    s = list(map(int,s.split()))
    return ' '.join([str(min(s)),str(max(s))])
solution(s)

'-4 -1'

## **JadenCase 문자열 만들기**
JadenCase란 모든 단어의 첫 문자가 대문자이고, 그 외의 알파벳은 소문자인 문자열입니다. 단, 첫 문자가 알파벳이 아닐 때에는 이어지는 알파벳은 소문자로 쓰면 됩니다. (첫 번째 입출력 예 참고)문자열 s가 주어졌을 떄, s를 JadenCase로 바꾼 문자열을 리턴하는 함수, solution을 완성해주세요.
* 제한조건
  + s는 길이 1 이상 200 이하인 문자열입니다.
  + s는 알파벳과 숫자, 공백문자("")로 이루어져 있습니다.
    - 숫자는 단어의 첫 문자로만 나옵니다.
    - 숫자로만 이루어진 단어는 없습니다.
    - 공백문자가 연속해서 나올 수 있습니다.

입출력 예

|s|return|
|-|------|
|"3people unFollowed me"|"3people Unfollowed Me"|
|"for the last week"|"For The Last Week"|

In [ ]:
s = "for the last week"
s = s.split()
answer = [i.capitalize() for i in s]
answer

['For', 'The', 'Last', 'Week']

In [ ]:
## 연속된 공백문자가 있을 경우, 이 방법으로는 해결 불가능
s = "for the last week"
def solution(s):
    return ' '.join([i.capitalize() for i in s.split()])
solution(s)

'For The Last Week'

In [ ]:
s = "for the last week"
s = s.split(' ')
for i in range(len(s)):
    s[i] = s[i].capitalize()
s

['For', 'The', 'Last', 'Week']

In [ ]:
## 정답
s = "for the last week"
def solution2(s):
    s = s.split(' ')
    for i in range(len(s)):
        s[i] = s[i].capitalize()
    return ' '.join(s)
solution2(s)

'For The Last Week'

## **최솟값 만들기**
길이가 같은 배열 A,B 두개가 있습니다. 각 배열은 자연수로 이루어져 있습니다. 배열 A,B에서 각각 한 개의 숫자를 뽑아 두 수를 곱합니다. 이러한 과정을 배열의 길이만큼 반복하며, 두 수를 곱한 값을 누적하여 더합니다. 이때 최종적으로 누적된 값이 최소가 되도록 만드는 것이 목표입니다.(단, 각 배열에서 k번째 숫자를 뽑았다면 다음에 k번째 숫자는 다시 뽑을 수 없습니다.)

예를 들어 A = [1, 4, 2] , B = [5, 4, 4] 라면
* A에서 첫번째 숫자인 1, B에서 첫번째 숫자인 5를 뽑아 곱하여 더합니다. (누적된 값 : 0 + 5(1x5) = 5)
* A에서 두번째 숫자인 4, B에서 세번째 숫자인 4를 뽑아 곱하여 더합니다. (누적된 값 : 5 + 16(4x4) = 21)
* A에서 세번째 숫자인 2, B에서 두번째 숫자인 4를 뽑아 곱하여 더합니다. (누적된 값 : 21 + 8(2x4) = 29)

즉, 이 경우가 최소가 되므로 29를 return 합니다.

배열 A, B가 주어질 때 최종적으로 누적된 최솟값을 return 하는 solution 함수를 완성해 주세요.
* 제한사항
  + 배열 A, B의 크기 : 1,000 이하의 자연수
  + 배열 A, B의 원소의 크기 : 1,000 이하의 자연수

In [ ]:
A = [1, 4, 2]
B = [5, 4, 4]
answer = 0
for i in range(len(A)):
    a = min(A) * max(B)
    answer += a
    A.remove(min(A))
    B.remove(max(B))
answer

29

In [ ]:
## 정확성테스트는 모두 통과
## 효율성 테스트에서 탈락
## 리스트에서 min, max를 찾는데 시간이 걸림
A = [1, 4, 2]
B = [5, 4, 4]
def solution(A,B):
    answer = 0
    for i in range(len(A)):
        a = min(A) * max(B)
        answer += a
        A.remove(min(A))
        B.remove(max(B))
    return answer
solution(A,B)

29

In [ ]:
## sort로 접근
## A는 내림차순, B는 오름차순으로
## 그 후 같은 인덱스끼리 연산
A = [1, 4, 2]
B = [5, 4, 4]
answer = 0
A.sort(reverse = True)
B.sort()
for i in range(len(A)):
    answer += A[i]*B[i]
answer

29

In [ ]:
## solution과 마찬가지로 정확성에선 통과
## 앞의 해답보단 빨라졌지만, 효율성에서 탈락
def solution2(A,B):
    answer = 0
    for i in range(len(A)):
        answer += sorted(A,reverse=True)[i] * sorted(B)[i]
    return answer
# solution2(A,B)

## solution2에서 zip함수를 추가해봄
## 정확성, 효율성 둘 다 통과
def solution3(A,B):
    return sum([i*j for i,j in zip(sorted(A,reverse=True),sorted(B))])
solution3(A,B)

29

## **올바른 괄호**
괄호가 바르게 짝지어졌다는 것은 '('문자로 열렸으면 반드시 짝지어서 ')'문자로 닫혀야 한다는 뜻 입니다. 예를 들어
* "()()" 또는 "(())()" 는 올바른 괄호입니다.
* ")()(" 또는 "(()(" 는 올바르지 않은 괄호입니다.

'(' 또는 ')' 로만 이루어진 문자열 s가 주어졌을 때, 문자열 s가 올바른 괄호이면 true를 return 하고, 올바르지 않은 괄호이면 false를 return 하는 solution 함수를 완성해 주세요.
* 제한사항
  + 문자열 s의 길이 : 100,000 이하의 자연수
  + 문자열 s는 '(' 또는 ')' 로만 이루어져 있습니다.

입출력 예

|s|answer|
|-|------|
|"()()"|true|
|"(())()"|true|
|")()("|false|
|"(()("|false|

In [ ]:
## 정확성 57.9
## 효율성 15.2
## 합계 73.2 / 100
s = ")()("
def solution(s):
    if s[0] == '(' and s[-1] == ')':
        return True
    else:
        return False
solution(s)

False

In [ ]:
## 정확성 61.8
## 효율성 30.5
## 합계 92.3 / 100
def solution2(s):
    if s.count('(') == s.count(')'):
        if s[0] == '(' and s[-1] == ')':
            return True
        else:
            return False
    else:
        return False
solution2(s)

False

In [ ]:
## 스택으로 해결해야 함
def solution3(s):
    stack = 0
    for i in s:
        if stack < 0:
            break
        stack = stack + 1 if i == '(' else stack - 1 if i ==')' else stack
    return stack == 0
solution3(s)

False

## **5. 이진 변환 반복하기**
0과 1로 이루어진 어떤 문자열 x에 대한 이진 변환을 다음과 같이 정의합니다.
1. x의 모든 0을 제거합니다.
2. x의 길이를 c라고 하면, x를 "c를 2진법으로 표현한 문자열"로 바꿉니다.

예를 들어, x = "0111010"이라면, x에 이진 변환을 가하면 x = "0111010" -> "1111" -> "100" 이 됩니다.

0과 1로 이루어진 문자열 s가 매개변수로 주어집니다. s가 "1"이 될 때까지 계속해서 s에 이진 변환을 가했을 때, 이진 변환의 횟수와 변환 과정에서 제거된 모든 0의 개수를 각각 배열에 담아 return 하도록 solution 함수를 완성해주세요.
* 제한사항
  + s의 길이는 1이상 150,000 이하입니다.
  + s에는 '1'이 최소 하나 이상 포함되어 있습니다.

In [ ]:
s = "1111111"
answer = [0,0]
bin(s.count('1'))[2:]

'111'

In [ ]:
answer = [0,0]
while True :
    if s == '1':
        break
    answer[0] += 1
    answer[1] += s.count('0')
    s = bin(s.count('1'))[2:]
answer

[4, 1]

In [ ]:
s = "1111111"
def solution(s):
    answer = [0,0]
    while s != '1':
        answer[0] += 1
        answer[1] += s.count('0')
        s = bin(s.count('1'))[2:]
    return answer
solution(s)

[4, 1]

## **숫자의 표현**
Finn은 요즘 수학공부에 빠져 있습니다. 수학 공부를 하던 Finn은 자연수 n을 연속한 자연수들로 표현 하는 방법이 여러개라는 사실을 알게 되었습니다. 예를 들어 15는 다음과 같이 4 가지로 표현할 수 있습니다.
* 1 + 2 + 3 + 4 + 5 = 15
* 4 + 5 + 6 = 15
* 7 + 8 = 15
* 15 = 15

자연수 n이 매개변수로 주어질 때, 연속된 자연수들로 n을 표현하는 방법의 수를 return하는 solution을 완성해주세요.
* 제한사항
  + n은 10,000 이하의 자연수 입니다.



```
# n 이하인 숫자 a부터 k개의 연속된 숫자의 합이 n이라고 가정한다면
""""
a + (a+1) + (a+2) + ... + (a+k-1) = k(2a+k-1)/2 = n
a <= n
k < n
a,k : 자연수
""""
# 위의 식을 정리하면 a = n/k + (1-k)/2가 된다.
a가 자연수라는 조건이 성립하기 위해서는
""""
n/k 가 자연수이려면 : k는 n의 약수여야 한다.
(1-k)/2 가 정수가 되려면 : 1-k 가 짝수여야 하므로 k는 홀수여야 한다.
k < n
""""
위 조건을 만족해야 한다.

### 따라서 위의 조건을 만족하는 k의 개수만큼 연속된 자연수의 합이 n이 될 수 있기 때문에, n의 약수이면서 홀수인 k를 찾으면 된다.
```

In [ ]:
n = 15
a = [i for i in range(1,n+1,2) if n % i is 0]
a

[1, 3, 5, 15]

In [ ]:
def solution(n):
    return len([i for i in range(1,n+1,2) if n % i is 0])
solution(n)

4

## **피보나치 수**
피보나치 수는 F(0) = 0, F(1) = 1 일 때, 1이상의 n에 대하여 F(n) = F(n-1) + F(n-2) 가 적용되는 수 입니다. 예를 들어
* F(2) = F(0) + F(1) = 0 + 1 = 1
* F(3) = F(1) + F(2) = 1 + 1 = 2
* F(4) = F(2) + F(3) = 1 + 2 = 3
* F(5) = F(3) + F(4) = 2 + 3 = 5

와 같이 이어집니다.

2 이상의 n이 입력되었을 때, n번째 피보나치 수를 1234567으로 나눈 나머지를 리턴하는 함수, solution을 완성해 주세요.
* 제한사항
  + n은 2이상 100,000 이하인 자연수입니다.

In [ ]:
n = 3
answer = [0,1]
for i in range(2,n+1):
    answer.append((answer[i-1] + answer[i-2]) % 1234567)
answer[-1]

2

In [ ]:
def solution(n):
    answer = [0,1]
    for i in range(2,n+1):
        answer.append((answer[i-1]+answer[i-2])%1234567)
    return answer[-1]
solution(n)

2

In [ ]:
## 다른사람 문제풀이
def fibonacci(num):
    a,b = 0,1
    for i in range(num):
        a,b = b,a+b
    return a
fibonacci(3)

2

## **다음 큰 숫자**
자연수 n이 주어졌을 때, n의 다음 큰 숫자는 다음과 같이 정의 합니다.
* 조건 1. n의 다음 큰 숫자는 n보다 큰 자연수 입니다.
* 조건 2. n의 다음 큰 숫자와 n은 2진수로 변환했을 때 1의 갯수가 같습니다.
* 조건 3. n의 다음 큰 숫자는 조건 1,2를 만족하는 수 중 가장 작은 수 입니다.

예를 들어서 78(1001110)의 다음 큰 숫자는 83(1010011)입니다.

자연수 n이 매개변수로 주어질 때, n의 다음 큰 숫자를 return하는 solution 함수를 완성해주세요.
* 제한 사항
  + n은 1,000,000 이하의 자연수 입니다.

In [ ]:
n = 78
def solution(n):
    bin_n = bin(n).count('1')
    for i in range(n+1, 1000001):
        if bin(i).count('1') == bin_n:
            return i
solution(n)

83

## **카펫**
Leo는 카페을 사러 갔다가 아래 그림과 같이 중앙에는 노란색으로 칠해져 있고 테두리 1줄은 갈색으로 칠해져 있는 격자 모양 카펫을 봤습니다.<br><br>
![image.png]()<br><br>
Leo는 집으로 돌아와서 아까 본 카펫의 노란색과 갈색으로 색칠된 격자의 개수는 기억했지만, 전체 카펫의 크기는 기억하지 못했습니다.

Leo가 본 카펫에서 갈색 격자의 수 brown, 노란색 격자의 수 yellow가 매개변수로 주어질 떄 카펫의 가로, 세로 크기를 순서대로 배열에 담아 return 하도록 solution 함수를 작성해주세요.
* 제한 사항
  + 갈색 격자의 수 brown은 8 이상 5,000 이하인 자연수입니다.
  + 노란색 격자의 수 yellow는 1 이상 2,000,000 이하인 자연수입니다.
  + 카펫의 가로 길이는 세로 길이와 같거나, 세로 길이보다 깁니다.



```
갈색 공간의 4개의 꼭짓점을 빼고 반으로 나누면, 노란색 구역의 가로+세로가 나오게 되며, for문을 돌면서 가로*세로 가 노란색이 될 때, 가로+2, 세로+2가 정답.
```

In [ ]:
brown = 10
yellow = 2
def solution(brown, yellow):
    n = (brown - 4)//2
    for i in range(n):
        x,y = i,n-i
        if x*y == yellow:
            return [y+2,x+2]

solution(brown, yellow)

[4, 3]



```
근의 공식을 이용한 풀이
(다른사람 풀이)
```

In [ ]:
def solution2(brown, yellow):  # 근의 공식 활용
    x = (brown + 4 + ((brown + 4) ** 2 - 16 * (brown + yellow)) ** 0.5) / 4
    y = (brown + yellow) / x
    return [x,y]
solution(brown, yellow)

[4, 3]

## **10. 짝지어 제거하기**
짝지어 제거하기는, 알파벳 소문자로 이루어진 문자열을 가지고 시작합니다. 먼저 문자열에서 같은 알파벳이 2개 붙어 있는 짝을 찾습니다. 그다음, 그 둘을 제거한 뒤, 앞뒤로 문자열을 이어 붙입니다. 이 과정을 반복해서 문자열을 모두 제거한다면 짝지어 제거하기가 종료됩니다. 문자열 S가 주어졌을 때, 짝지어 제거하기를 성공적으로 수행할 수 있는지 반환하는 함수를 완성해 주세요. 성공적으로 수행할 수 있으면 1을, 아닐 경우 0을 리턴해주면 됩니다.

예를 들어, 문자열 S = baabaa 라면

```
b aa baa -> bb aa -> aa ->
```

의 순서로 문자열을 모두 제거할 수 있으므로 1을 반환합니다.
* 제한사항
  + 문자열의 길이 : 1,000,000이하의 자연수
  + 문자열은 모두 소문자로 이루어져 있습니다.

In [ ]:
s = 'cdcd'
def solution(s):
    stack = []
    for i in range(len(s)):
        if not stack: stack.append(s[i]) # stack이 비어있다면 push()
        else: 
            if s[i] == stack[-1]: stack.pop() # stack 마지막 값과 s[i]가 같다면 pop()
            else: stack.append(s[i]) # stack 마지막 값과 s[i]가 다르면 push()
    if stack: return 0
    else: return 1
solution(s)

0