<a href="https://colab.research.google.com/github/heokwon/Algorithm_Study/blob/main/Programmers/LV.2/Programmer's_Lv2_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **최댓값과 최솟값**
문자열 s에는 공백으로 구분된 숫자들이 저장되어 있습니다. str에 나타나는 숫자 중 최소값과 최대값을 찾아 이를 "(최소값) (최대값)"형태의 문자열을 반환하는 함수,solution을 완성하세요. 예를들어 s가 "1 2 3 4"라면 "1 4"를 리턴하고, "-1 -2 -3 -4"라면 "-4 -1"을 리턴하면 됩니다.
* 제한조건
  + s에는 둘 이상의 정수가 공백으로 구분되어 있습니다.

In [28]:
s = "-1 -2 -3 -4"
s = list(map(int,s.split()))
s

[-1, -2, -3, -4]

In [29]:
s = "-1 -2 -3 -4"
def solution(s):
    s = list(map(int,s.split()))
    return ' '.join([str(min(s)),str(max(s))])
solution(s)

'-4 -1'

## **JadenCase 문자열 만들기**
JadenCase란 모든 단어의 첫 문자가 대문자이고, 그 외의 알파벳은 소문자인 문자열입니다. 단, 첫 문자가 알파벳이 아닐 때에는 이어지는 알파벳은 소문자로 쓰면 됩니다. (첫 번째 입출력 예 참고)문자열 s가 주어졌을 떄, s를 JadenCase로 바꾼 문자열을 리턴하는 함수, solution을 완성해주세요.
* 제한조건
  + s는 길이 1 이상 200 이하인 문자열입니다.
  + s는 알파벳과 숫자, 공백문자("")로 이루어져 있습니다.
    - 숫자는 단어의 첫 문자로만 나옵니다.
    - 숫자로만 이루어진 단어는 없습니다.
    - 공백문자가 연속해서 나올 수 있습니다.

입출력 예

|s|return|
|-|------|
|"3people unFollowed me"|"3people Unfollowed Me"|
|"for the last week"|"For The Last Week"|

In [62]:
s = "for the last week"
s = s.split()
answer = [i.capitalize() for i in s]
answer

['For', 'The', 'Last', 'Week']

In [64]:
## 연속된 공백문자가 있을 경우, 이 방법으로는 해결 불가능
s = "for the last week"
def solution(s):
    return ' '.join([i.capitalize() for i in s.split()])
solution(s)

'For The Last Week'

In [65]:
s = "for the last week"
s = s.split(' ')
for i in range(len(s)):
    s[i] = s[i].capitalize()
s

['For', 'The', 'Last', 'Week']

In [66]:
## 정답
s = "for the last week"
def solution2(s):
    s = s.split(' ')
    for i in range(len(s)):
        s[i] = s[i].capitalize()
    return ' '.join(s)
solution2(s)

'For The Last Week'

## **최솟값 만들기**
길이가 같은 배열 A,B 두개가 있습니다. 각 배열은 자연수로 이루어져 있습니다. 배열 A,B에서 각각 한 개의 숫자를 뽑아 두 수를 곱합니다. 이러한 과정을 배열의 길이만큼 반복하며, 두 수를 곱한 값을 누적하여 더합니다. 이때 최종적으로 누적된 값이 최소가 되도록 만드는 것이 목표입니다.(단, 각 배열에서 k번째 숫자를 뽑았다면 다음에 k번째 숫자는 다시 뽑을 수 없습니다.)

예를 들어 A = [1, 4, 2] , B = [5, 4, 4] 라면
* A에서 첫번째 숫자인 1, B에서 첫번째 숫자인 5를 뽑아 곱하여 더합니다. (누적된 값 : 0 + 5(1x5) = 5)
* A에서 두번째 숫자인 4, B에서 세번째 숫자인 4를 뽑아 곱하여 더합니다. (누적된 값 : 5 + 16(4x4) = 21)
* A에서 세번째 숫자인 2, B에서 두번째 숫자인 4를 뽑아 곱하여 더합니다. (누적된 값 : 21 + 8(2x4) = 29)

즉, 이 경우가 최소가 되므로 29를 return 합니다.

배열 A, B가 주어질 때 최종적으로 누적된 최솟값을 return 하는 solution 함수를 완성해 주세요.
* 제한사항
  + 배열 A, B의 크기 : 1,000 이하의 자연수
  + 배열 A, B의 원소의 크기 : 1,000 이하의 자연수

In [71]:
A = [1, 4, 2]
B = [5, 4, 4]
answer = 0
for i in range(len(A)):
    a = min(A) * max(B)
    answer += a
    A.remove(min(A))
    B.remove(max(B))
answer

29

In [72]:
## 정확성테스트는 모두 통과
## 효율성 테스트에서 탈락
## 리스트에서 min, max를 찾는데 시간이 걸림
A = [1, 4, 2]
B = [5, 4, 4]
def solution(A,B):
    answer = 0
    for i in range(len(A)):
        a = min(A) * max(B)
        answer += a
        A.remove(min(A))
        B.remove(max(B))
    return answer
solution(A,B)

29

In [73]:
## sort로 접근
## A는 내림차순, B는 오름차순으로
## 그 후 같은 인덱스끼리 연산
A = [1, 4, 2]
B = [5, 4, 4]
answer = 0
A.sort(reverse = True)
B.sort()
for i in range(len(A)):
    answer += A[i]*B[i]
answer

29

In [78]:
## solution과 마찬가지로 정확성에선 통과
## 앞의 해답보단 빨라졌지만, 효율성에서 탈락
def solution2(A,B):
    answer = 0
    for i in range(len(A)):
        answer += sorted(A,reverse=True)[i] * sorted(B)[i]
    return answer
# solution2(A,B)

## solution2에서 zip함수를 추가해봄
## 정확성, 효율성 둘 다 통과
def solution3(A,B):
    return sum([i*j for i,j in zip(sorted(A,reverse=True),sorted(B))])
solution3(A,B)

29

## **올바른 괄호**
괄호가 바르게 짝지어졌다는 것은 '('문자로 열렸으면 반드시 짝지어서 ')'문자로 닫혀야 한다는 뜻 입니다. 예를 들어
* "()()" 또는 "(())()" 는 올바른 괄호입니다.
* ")()(" 또는 "(()(" 는 올바르지 않은 괄호입니다.

'(' 또는 ')' 로만 이루어진 문자열 s가 주어졌을 때, 문자열 s가 올바른 괄호이면 true를 return 하고, 올바르지 않은 괄호이면 false를 return 하는 solution 함수를 완성해 주세요.
* 제한사항
  + 문자열 s의 길이 : 100,000 이하의 자연수
  + 문자열 s는 '(' 또는 ')' 로만 이루어져 있습니다.

입출력 예

|s|answer|
|-|------|
|"()()"|true|
|"(())()"|true|
|")()("|false|
|"(()("|false|

In [91]:
## 정확성 57.9
## 효율성 15.2
## 합계 73.2 / 100
s = ")()("
def solution(s):
    if s[0] == '(' and s[-1] == ')':
        return True
    else:
        return False
solution(s)

False

In [92]:
## 정확성 61.8
## 효율성 30.5
## 합계 92.3 / 100
def solution2(s):
    if s.count('(') == s.count(')'):
        if s[0] == '(' and s[-1] == ')':
            return True
        else:
            return False
    else:
        return False
solution2(s)

False

In [94]:
## 스택으로 해결해야 함
def solution3(s):
    stack = 0
    for i in s:
        if stack < 0:
            break
        stack = stack + 1 if i == '(' else stack - 1 if i ==')' else stack
    return stack == 0
solution3(s)

False

## **5. 이진 변환 반복하기**
0과 1로 이루어진 어떤 문자열 x에 대한 이진 변환을 다음과 같이 정의합니다.
1. x의 모든 0을 제거합니다.
2. x의 길이를 c라고 하면, x를 "c를 2진법으로 표현한 문자열"로 바꿉니다.

예를 들어, x = "0111010"이라면, x에 이진 변환을 가하면 x = "0111010" -> "1111" -> "100" 이 됩니다.

0과 1로 이루어진 문자열 s가 매개변수로 주어집니다. s가 "1"이 될 때까지 계속해서 s에 이진 변환을 가했을 때, 이진 변환의 횟수와 변환 과정에서 제거된 모든 0의 개수를 각각 배열에 담아 return 하도록 solution 함수를 완성해주세요.
* 제한사항
  + s의 길이는 1이상 150,000 이하입니다.
  + s에는 '1'이 최소 하나 이상 포함되어 있습니다.

In [113]:
s = "1111111"
answer = [0,0]
bin(s.count('1'))[2:]

'111'

In [114]:
answer = [0,0]
while True :
    if s == '1':
        break
    answer[0] += 1
    answer[1] += s.count('0')
    s = bin(s.count('1'))[2:]
answer

[4, 1]

In [120]:
s = "1111111"
def solution(s):
    answer = [0,0]
    while s != '1':
        answer[0] += 1
        answer[1] += s.count('0')
        s = bin(s.count('1'))[2:]
    return answer
solution(s)

[4, 1]