<a href="https://colab.research.google.com/github/heokwon/Algorithm_Study/blob/main/Programmers/LV.1/Programmer's_Lv1_(4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **모의고사**
수포자는 수학을 포기한 사람의 준말입니다. 수포자 삼인방은 모의고사에 수학 문제를 전부 찍으려 합니다. 수포자는 1번 문제부터 마지막 문제까지 다음과 같이 찍습니다.
* 1번 수포자가 찍는 방식 : 1,2,3,4,5,1,2,3,4,5,...
* 2번 수포자가 찍는 방식 : 2,1,2,3,2,4,2,5,2,1,2,3,2,4,2,5,...
* 3번 수포자가 찍는 방식 : 3,3,1,1,2,2,4,4,5,5,3,3,1,1,2,2,4,4,5,5,...

1번 문제부터 마지막 문제까지의 정답이 순서대로 들은 배열 answer가 주어졌을 때, 가장 많은 문제를 맞힌 사람이 누구인지 배열에 담아 return하도록 solution 함수를 작성해주세요.
* 시험은 최대 10,000문제로 구성되어있습니다.
* 문제의 정답은 1,2,3,4,5 중 하나입니다.
* 가장 높은 점수를 받은 사람이 여럿일 경우, return하는 값을 오름차순 정렬해주세요.

In [7]:
answers = [1,2,3,4,5]
def solution(answers):
    a = [1,2,3,4,5]
    b = [2,1,2,3,2,4,2,5]
    c = [3,3,1,1,2,2,4,4,5,5]
    cnt1,cnt2,cnt3 = 0,0,0
    for i in range(len(answers)):
        a1 = i%len(a)
        b1 = i%len(b)
        c1 = i%len(c)

        if a[a1] == answers[i]:
            cnt1 += 1
        if b[b1] == answers[i]:
            cnt2 += 1
        if c[c1] == answers[i]:
            cnt3 += 1
    winner = max(cnt1,cnt2,cnt3)
    answer = []
    if winner == cnt1:
        answer.append(1)
    if winner == cnt2:
        answer.append(2)
    if winner == cnt3:
        answer.append(3)
    return answer
solution(answers)

[1]

In [9]:
## 더 간단하게
def solution2(answers):
    a = [1,2,3,4,5]
    b = [2,1,2,3,2,4,2,5]
    c = [3,3,1,1,2,2,4,4,5,5]
    cnt = [0,0,0]
    answer = []
    for idx, x in enumerate(answers):
        if x == a[idx%len(a)]:
            cnt[0] += 1
        if x == b[idx%len(b)]:
            cnt[1] += 1
        if x == c[idx%len(c)]:
            cnt[2] += 1
    for idx, c in enumerate(cnt):
        if c == max(cnt):
            answer.append(idx+1)
    return answer
solution2(answers)

[1]

## **소수만들기**
주어진 숫자 중 3개의 수를 더했을 때 소수가 되는 경우의 개수를 구하려고 합니다. 숫자들이 들어있는 배열 nums가 매개변수로 주어질 때, nums에 있는 숫자들 중 서로 다른 3개를 골라 더했을 때 소수가 되는 경우의 개수를 return하도록 solution함수를 완성해주세요.
* nums에 들어있는 숫자의 개수는 3개 이상 50개 이하입니다.
* nums의 각 원소는 1 이상 1,000 이하의 자연수이며, 중복된 숫자가 들어있지 않습니다.

In [23]:
nums = [1,2,3,4]
from itertools import combinations
cnt = 0
for comb in list(combinations(nums,3)):
    print(sum(comb))
    for i in range(2,sum(comb)):
        if sum(comb) % i == 0:
            break
    else:
        cnt += 1
cnt

6
7
8
9

1

In [22]:
## 정답
from itertools import combinations
nums = [1,2,7,6,4]
def solution(nums):
    cnt = 0
    for comb in list(combinations(nums,3)):
        for i in range(2,sum(comb)):
            if sum(comb) % i == 0:
                break
        else:
            cnt += 1
    return cnt
solution(nums)

4

## **실패율**
슈퍼 게임 개발자 오렐리는 큰 고민에 빠졌다. 그녀가 만든 프랜즈 오천성이 대성공을 거뒀지만, 요즘 신규 사용자의 수가 급감한 것이다. 원인은 신규 사용자와 기존 사용자 사이에 스테이지 차이가 너무 큰 것이 문제였다.

이 문제를 어떻게 할까 고민 한 그녀는 동적으로 게임 시간을 늘려서 난이도를 조절하기로 했다. 역시 슈퍼 개발자라 대부분의 로직은 쉽게 구현했지만, 실패율을 구하는 부분에서 위기에 빠지고 말았다. 오렐리를 위해 실패율을 구하는 코드를 완성하라.
* 실패율은 다음과 같이 정의한다.<br>
 + 스테이지에 도달했으나 아직 클러어하지 못한 플레이어의 수 / 스테이지에 도달한 플레이어 수

전체 스테이지의 개수 N, 게임을 이용하는 사용자가 현재 멈춰있는 스테이지의 번호가 담긴 배열 stages가 매개변수로 주어질 때, 실패율이 높은 스테이지부터 내림차순으로 스테이지의 번호가 담겨있는 배열을 return 하도록 solution함수를 완성하라.
* 스테이지의 개수 N은 1 이상 500 이하의 자연수이다.
* stages의 길이는 1 이상 200,000 이하이다.
* stages에는 1 이상 N+1 이하의 자연수가 담겨있다.<br>
 + 각 자연수는 사용자가 현재 도전 중인 스테이지 번호를 나타낸다.<br>
 + 단, N+1은 마지막 스테이지 (N번째 스테이지)까지 클리어 한 사용자를 나타낸다.
* 만약 실패율이 같은 스테이지가 있다면 작은 번호의 스테이지가 먼저 오도록 하면 된다.
* 스테이지에 도달한 유저가 없는 경우 해당 스테이지의 실패율은 0 으로 정의한다.

In [69]:
## 풀이 1
## 정확성 70.4 / 100
## 런타임 에러
N = 4
stages = [4,4,4,4,4]
def solution(N, stages):
    cnt = len(stages)
    s = []
    for stage in range(1,N+1):
        fail = stages.count(stage)/cnt
        if fail > 0:
            s.append(fail)
            cnt -= stages.count(stage)
        else:
            s.append(fail)
    a = sorted(s, reverse=True)
    answer = []
    for i in range(len(a)):
        answer.append(s.index(a[i])+1)
        s[s.index(a[i])] = 2
    return answer
solution(N, stages)

[4, 1, 2, 3]

In [70]:
## 풀이 2
## 딕셔너리 사용
## 런타임에러 방지를 위해 for문 줄이기
## 정확성 100 / 100
N = 4
stages = [4,4,4,4]
def solution2(N, stages):
    answer = {} # answer라는 딕셔너리의 key값엔 스테이지, value값엔 실패율이 들어감
    cnt = len(stages)
    for stage in range(1,N+1):
        if cnt != 0:
            answer[stage] = stages.count(stage)/cnt
            cnt -= stages.count(stage)
        else:
            answer[stage] = 0
    return sorted(answer, key=lambda x:answer[x],reverse=True) # value값을 내림차순 한 뒤, value값 기준으로 key값 return
solution(N,stages)

[4, 1, 2, 3]

## **다트게임**
카카오톡 게임별의 하반기 신규 서비스로 다트게임을 출시하기로 했다. 다트게임은 다트판에 다트를 세 차례 던져 그 점수의 합계로 실력을 겨루는 게임으로, 모두가 간단히 즐길 수 있다. 갓 입사한 무지는 코딩 실력을 인정받아 게임의 핵심 부분인 점수 계산 로직을 맡게 되었다. 다트 게임의 점수 계산 로직은 아래와 같다.
1. 다트 게임은 총 3번의 기회로 구성된다.
2. 각 기회마다 얻을 수 있는 점수는 0점에서 10점까지이다.
3. 점수와 함께 Single(S), Double(D), Triple(T) 영역이 존재하고 각 영역 당첨 시 점수에서 1제곱, 2제곱, 3제곱 (점수1 , 점수2 , 점수3 )으로 계산된다.
4. 옵션으로 스타상(*) , 아차상(#)이 존재하며 스타상(*) 당첨 시 해당 점수와 바로 전에 얻은 점수를 각 2배로 만든다. 아차상(#) 당첨 시 해당 점수는 마이너스된다.
5. 스타상(*)은 첫 번째 기회에서도 나올 수 있다. 이 경우 첫 번째 스타상(*)의 점수만 2배가 된다. (예제 4번 참고)
6. 스타상(*)의 효과는 다른 스타상(*)의 효과와 중첩될 수 있다. 이 경우 중첩된 스타상(*) 점수는 4배가 된다. (예제 4번 참고)
7. 스타상(*)의 효과는 아차상(#)의 효과와 중첩될 수 있다. 이 경우 중첩된 아차상(#)의 점수는 -2배가 된다. (예제 5번 참고)
8. Single(S), Double(D), Triple(T)은 점수마다 하나씩 존재한다.
9. 스타상(*), 아차상(#)은 점수마다 둘 중 하나만 존재할 수 있으며, 존재하지 않을 수도 있다.

0 ~ 10 의 정수와 문자 S,D,T,*,# 로 구성된 문자열이 입력될 시 총점수를 반환하는 함수를 작성하라.

In [5]:
dartResult = '1S2D*3T'
def solution(dartResult):
    score = []
    dartResult = dartResult.replace('10','A')
    bonus = {'S':1,'D':2,'T':3}

    for i in dartResult:
        if i.isdigit() or i == 'A':
            score.append(10 if i == 'A' else int(i))
        elif i in ('S','D','T'):
            num = score.pop()
            score.append(num ** bonus[i])
        elif i == '#': 
            score[-1] *= -1
        elif i == '*':
            num = score.pop()
            if len(score):
                score[-1] *= 2
            score.append(2 * num)
    return sum(score)
solution(dartResult)

37

## **50.로또의 최고 순위와 최저 순위**
로또 6/45 (이하 '로또'로 표기)는 1부터 45까지의 숫자 중 6개를 찍어서 맞히는 대표적인 복권입니다. 아래는 로또의 순위를 정하는 방식입니다.

|순위|당첨내용|
|:----:|:--------:|
|1|6개 번호가 모두 일치|
|2|5개 번호가 일치|
|3|4개 번호가 일치|
|4|3개 번호가 일치|
|5|2개 번호가 일치|
|6(낙첨)|그 외|

로또를 구매한 민우는 당첨 번호 발표일을 학수고대하고 있었습니다. 하지만, 민우의 동생이 로또에 낙서를 하여, 일부 번호를 알아볼 수 없게 되었습니다. 당첨 번호 발표 후, 민우는 자신이 구매했던 로또로 당첨이 가능했던 최고 순위와 최저 순위를 알아보고 싶어졌습니다. 알아볼 수 없는 번호를 0 으로 표기하기로 하고, 민우가 구매한 로또 번호 6개가 44,1,0,0,31,25 라고 가정해보겠습니다. 당첨 번호 6개가 31,10,45,1,6,19라면, 당첨 가능한 최고 순위와 최저 순위의 한 예는 아래와 같습니다.

|당첨번호|31|10|45|1|
|--------|--|--|--|-|
|최고순위번호|31|0->10|44|1|
|최저순위번호|31|0->11|44|1|

* 순서와 상관없이, 구매한 로또에 당첨 번호와 일치하는 번호가 있으면 맞힌 걸로 인정됩니다.
* 알아볼 수 없는 두 개의 번호를 가각 10,6 이라고 가정하면 3등에 당첨될 수 있습니다.<br>
 + 3등을 만드는 다른 방법들도 존재합니다. 하지만, 2등 이상으로는 만드는 것은 불가능합니다.
* 알아볼 수 없는 두 개의 번호를 각각 11,7이라고 가정하면 5등에 당첨될 수 잇습니다.<br>
 + 5등을 만드는 다른 방법들도 존재합니다. 하지만, 6등(낙첨)으로 만드는 것은 불가능합니다.

민우가 구매한 로또 번호를 담은 배열이 lottos, 당첨 번호를 담은 배열 win_nums가 매개변수로 주어집니다. 이때, 당첨 가능한 최고 순위와 최저 순위를 차례대로 배열에 담아서 return하도록 solution함수를 완성해 주세요.
* lottos는 길이 6인 정수 배열입니다.
* lottos의 모든 원소는 0 이상 45 이하인 정수입니다.<br>
 + 0은 알아볼 수 없는 숫자를 의미합니다.<br>
 + 0을 제외한 다른 숫자들은 lottos에 2개 이상 담겨있지 않습니다.<br>
 + lottos의 원소들은 정렬되어 있지 않을 수도 있습니다.
* win_nums은 길이 6인 정수 배열입니다.
* win_nums의 모든 원소는 1 이상 45 이하인 정수입니다.<br>
 + win_nums에는 같은 숫자가 2개 이상 담겨있지 않습니다.<br>
 + win_nums의 원소들은 정렬되어 있지 않을 수도 있습니다.

In [6]:
lottos = [44, 1, 0, 0, 31, 25]
win_nums = [31, 10, 45, 1, 6, 19]
def solution(lottos, win_nums):
    cnt_corr = 0
    cnt_zero = 0
    for i in range(len(lottos)):
        if lottos[i] in win_nums:
            cnt_corr += 1
        if lottos[i] == 0:
            cnt_zero += 1
    total = cnt_corr + cnt_zero
    rank = {6:1,5:2,4:3,3:4,2:5,1:6,0:6}
    answer = [rank[total],rank[cnt_corr]]
    return answer
solution(lottos, win_nums)

[3, 5]

In [7]:
## 더 간단히
def solution2(lottos, win_nums):
    rank = [6,6,5,4,3,2,1]
    cnt_zero = lottos.count(0)
    answer = 0
    for i in win_nums:
        if i in lottos:
            answer += 1
    return rank[cnt_zero + answer],rank[answer]
solution2(lottos, win_nums)

(3, 5)

## **체육복**
점심시간에 도둑이 들어, 일부 학생이 체육복을 도난당했습니다. 다행히 여벌 채육복이 있는 학생이 이들에게 체육복을 빌려주려 합니다. 학생들의 번호는 체격 순으로 매겨져 있어, 바로 앞번호의 학생이나 바로 뒷번호의 학생에게만 체육복을 빌려줄 수 있습니다. 예를 들어, 4번 학생은 3번 학생이나 5번 학생에게만 체육복을 빌려줄 수 있습니다. 체육복이 없으면 수업을 들을 수 없기 때문에 체육복을 적절히 빌려 최대한 많은 학생이 체육수업을 들어야 합니다.

전체 학생의 수 n, 체육복을 도난당한 학생들의 번호가 담긴 배열 lost, 여벌의 체육복을 가져온 학생들의 번호가 담긴 배열 reserve가 매개변수로 주어질 때, 체육수업을 들을 수 있는 학생의 최댓값을 return하도록 solution 함수를 작성해 주세요.
* 전체 학생의 수는 2명 이상 30명 이하 입니다.
* 체육복을 도난당한 학생의 수는 1명 이상 n명 이하이고 중복되는 번호는 없습니다.
* 여벌의 체육복을 가져온 학생의 수는 1명 이상 n명 이하이고 중복되는 번호는 없습니다.
* 여벌 체육복이 있는 학생만 다른 학생에게 체육복을 빌려줄 수 있습니다.
* 여벌 체육복을 가져온 학생이 체육복을 도난당했을 수도 있습니다. 이때 이 학생은 체육복을 하나만 도난당했다고 가정하며, 남은 체육복이 하나이기에 다른 학생에게는 체육복을 빌려줄 수 없습니다.

In [24]:
## 중복이 없다.
## "여벌의 체육복이 있는 학생도 도난 당했을 수도 있다."
## lost와 reserve에 중복 제거 -> set()
n = 5
lost = [2, 4]
reserve = [3]

set_reserve = set(reserve)-set(lost)
set_lost = set(lost)-set(reserve)
for i in set_reserve:
    if i-1 in set_lost:
        set_lost.remove(i-1)
    elif i+1 in set_lost:
        set_lost.remove(i+1)
n-len(set_lost)

4

In [25]:
## 답안
def solution(n, lost, reserve):
    set_re = set(reserve) - set(lost)
    set_lost = set(lost) - set(reserve)
    for i in set_re:
        if i-1 in set_lost:
            set_lost.remove(i-1)
        elif i+1 in set_lost:
            set_lost.remove(i+1)
    return n - len(set_lost)
solution(n,lost,reserve)

4

## **완주하지 못한 선수**
수많은 마라톤 선수들이 마라톤에 참여하였습니다. 단 한 명의 선수를 제외하고는 모든 선수가 마라톤을 완주하였습니다. 마라톤에 참여한 선수들의 이름이 담긴 배열 participant와 완주한 선수들의 이름이 담긴 배열 completion이 주어질 때, 완주하지 못한 선수의 이름을 return하도록 solution함수를 작성해주세요.
* 마라톤 경기에 참여한 선수의 수는 1명 이상 100,000명 이하입니다.
* completion의 길이는 participant의 길이보다 1작습니다.
* 참가자의 이름은 1개 이상 20개 이하의 알파벳 소문자로 이루어져 있습니다.
* 참가자 중에는 동명이인이 있을 수 있습니다.

In [31]:
participant = ["mislav", "stanko", "mislav", "ana"]
completion = ["stanko", "ana", "mislav"]
for i in completion:
    if i in participant:
        participant.remove(i)
participant

['mislav']

In [33]:
## 풀이1
## 정확성테스트 100
## 효율성테스트에서 탈락
def solution(participant, completion):
    for i in completion:
        if i in participant:
            participant.remove(i)
    return ''.join(participant)

## 풀이2
## 정확성, 효율성 통과
def solution2(participant, completion):
    participant.sort()
    completion.sort()
    for i,j in zip(participant, completion):
        if i != j:
            return i
    return participant[-1]
solution2(participant, completion)

'mislav'