<a href="https://colab.research.google.com/github/heokwon/Algorithm_Study/blob/main/Programmers/LV.1/Programmer's_Lv_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 짝수와 홀수
점수 num이 짝수일 경우 "Even"을 반환하고 홀수인 경우 "Odd"를 반환하는 함수, solutino을 완성해 주세요

In [2]:
def solution(num):
    if num % 2 == 0:
      return "Even"
    else:
      return "Odd"
solution(3)

'Odd'

## 평균 구하기
정수를 담고 있는 배열 arr의 평균값을 return하는 함수, solution을 완성해보세요.

In [4]:
def solution(arr):
    return sum(arr)/len(arr)
arr = [1,2,3,4]
solution(arr)

2.5

## 약수의 합
정수 n을 입력받아 n의 약수를 모두 더한 값을 리턴하는 함수, solution을 완성해주세요.

In [7]:
def solution(n):
    answer = [i for i in range(1,n+1) if n%i==0]
    return sum(answer)
solution(12)

28

## 자릿수 더하기
자연수 N이 주어지면, N의 각 자릿수의 합을 구해서 return하는 solution함수를 만들어 주세요. 예를들어 N=123이면 1+2+3=6을 return하면 됩니다.

In [18]:
def solution(n):
    return sum([int(i) for i in str(n)])
solution(987)

24

## 자연수 뒤집어 배열로 만들기
자연수 n을 뒤집어 각 자리 숫자를 원소로 가지는 배열 형태로 리턴해주세요. 예를들어 n이 12345이면 [5,4,3,2,1]을 리턴합니다.

In [23]:
n = 12345
def solution(n):
    return [int(i) for i in str(n)][::-1]

## 또 다른 풀이
def solution2(n):
    return list(map(int, reversed(str(n))))
solution2(n)

[5, 4, 3, 2, 1]

## 정수 제곱근 판별
임의의 양의 정수 n에 대해, n이 어떤 양의 정수 x의 제곱인지 아닌지 판단하려 합니다.
n이 양의 정수 x의 제곱이라면 x+1을 리턴하고,n이 양의 정수 x제곱이 아니라면 -1을 리턴하는 함수를 완성하세요.

In [42]:
def solution(n):
  if (n**(1/2)) == int(n**(1/2)):
      return ((n**(1/2)) + 1)**2
  else:
      return -1
n = 121
solution(n)

144.0

## 문자열 내 p와 y의 개수
대문자와 소문자가 섞여있는 문자열 s가 주어집니다. s에 'p'의 개수와 'y'의 개수를 비교해 같으면 True, 다르면 False를 return하는 solution을 완성하세요. 'p','y'모두 하나도 없는 경우는 항상 True를 리턴합니다. 단, 개수를 비교할 때 대문자와 소문자는 구별하지 않습니다.

예를 들어 s가 "pPoooyY"면 true를 return하고 "Pyy"라면 false를 리턴합니다.

In [50]:
s = "pPoooyY"
def solution(s):
    ss = s.lower()
    if ss.count('p') == ss.count('y'):
        return True
    else:
        return False
    if ss.count('p') == 0 and ss.count('y') == 0:
        return True

## 더 간단하게
def solution2(s):
    return s.lower().count('p') == s.lower().count('y')
solution2(s)

True

## 하샤드 수
양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다. 예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다. 자연수 x를 입력받아 x가 하샤드 수인지 아닌지 검사하는 함수, solution을 완성해주세요.

In [54]:
x = 12
def solution(x):
    return x % sum([int(i) for i in str(x)]) == 0
solution(x)

True

## 정수 내림차순으로 배치하기
함수 solution은 정수 n을 매개변수로 입력받습니다. n의 각 자릿수를 큰것부터 작은 순으로 정렬한 새로운 정수를 리턴해주세요. 예를 들어 n이 118372면 873211을 리턴하면 됩니다.

In [65]:
n = 118372
def solution(n):
    answer = ''
    a = sorted([int(i) for i in str(n)],reverse=True)
    for i in a:
        answer += str(i)
    return int(answer)
solution(n)

873211

## 나머지가 1이 되는 수 찾기
자연수 n이 매개변수로 주어집니다. n을 x로 나눈 나머지가 1이 되도록 하는 가장 작은 자연수 x를 return하도록 solution 함수를 완성해주세요. 답이 항상 존재함은 증명될 수 있습니다.

In [73]:
n = 12
def solution(n):
    for i in range(1, n+1):
        if n % i == 1:
            answer = i
            break
    return answer

## 또 다른 풀이
def solution2(n):
    return [i for i in range(1,n+1) if n%i == 1][0]
solution2(n)

11

## 문자열을 정수로 바꾸기
문자열 s를 숫자로 변환한 결과를 반환하는 함수, solution을 완성하세요
* s의 길이는 1 이상 5 이하 입니다.
* s의 맨앞에는 부호(+,-)가 올 수 있습니다.
* s는 부호와 숫자로만 이루어져있습니다.
* s는 "0"으로 시작하지 않습니다.

In [78]:
a = "-1234"
def solution(s):
    return int(s)
solution(a)

-1234

## 12.x만큼 간격이 있는 n개의 숫자 
함수 solution은 정수 x와 자연수 n을 입력받아, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 리턴해야 합니다. 다음 제한 조건을 보고, 조건을 만족하는 함수, solution을 완성해주세요.

In [80]:
x = 2
n = 5
def solution(x, n):
    return [x*i for i in range(1,n+1)]
solution(x,n)

[2, 4, 6, 8, 10]

## 콜라츠 추측
1937년 Collatz란 사람에 의해 제기된 이 추측은, 주어진 수가 1이 될 때까지 다음 작업을 반복하면, 모든 수를 1로 만들 수 있다는 추측입니다. 작업은 다음과 같습니다.

1-1. 입력된 수가 짝수라면 2로 나눕니다. 

1-2. 입력된 수가 홀수라면 3을 곱하고 1을 더합니다. 

2, 결과로 나온 수에 같은 작업을 1이 될 때까지 반복합니다. 

예를 들어, 주어진 수가 6이라면 6 → 3 → 10 → 5 → 16 → 8 → 4 → 2 → 1 이 되어 총 8번 만에 1이 됩니다. 위 작업을 몇 번이나 반복해야 하는지 반환하는 함수, solution을 완성해 주세요. 단, 주어진 수가 1인 경우에는 0을, 작업을 500번 반복할 때까지 1이 되지 않는다면 –1을 반환해 주세요.

In [94]:
n = 16
def solution(num):
    answer = 0
    
    while num != 1 :
        if answer > 500 :
            return -1
        if num % 2 == 0 :
            num = num/2
        elif num % 2 == 1 :
            num = num*3 + 1
        answer += 1
    return answer
solution(n)

4

## 두 정수 사이의 합
두 정수 a,b가 주어졌을 때 a와 b 사이에 속한 모든 정수의 합을 리턴하는 함수, solution을 완성하세요. 예를 들어 a=3, b=5인 경우, 3+4+5=12이므로 12를 리턴합니다
* a와 b가 같은 경우는 둘 중 아무 수나 리턴하세요.
* a와 b는 -10,000,000 이상 10,000,000 이하인 정수입니다.
* a와 b의 대소관계는 정해져있지 않습니다.

In [100]:
a = 3
b = 3
def solution(a, b):
    answer = 0
    if a == b:
        return a
    else:
        for i in range(min(a,b),max(a,b)+1):
            answer += i
        return answer

## 다른풀이
def solution2(a, b):
    if a == b:
        return a
    else:
        return sum(range(min(a,b),max(a,b)+1))
solution2(a,b)

3

## 15. 서울에서 김서방 찾기
String형 배열 seoul의 element중 "Kim"의 위치 x를 찾아, "김서방은 x에 있다"는 String을 반환하는 함수, solution을 완성하세요. seoul에 "Kim"은 오직 한 번만 나타나며 잘못된 값이 입력되는 경우는 없습니다.
* seoul은 길이 1 이상, 1000 이하인 배열입니다.
* seoul의 원소는 길이 1 이상, 20 이하인 문자열입니다.
* "Kim"은 반드시 seoul안에 포함되어 있습니다.

In [103]:
seoul = ["Jane", "Kim"]
def solution(seoul):
    return f'김서방은 {seoul.index("Kim")}에 있다'
solution(seoul)

'김서방은 1에 있다'