<a href="https://colab.research.google.com/github/heokwon/Algorithm_Study/blob/main/Programmers/Programmer's_Lv_0_(3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제 설명
# "*"의 높이와 너비를 1이라고 했을 때, "*"을 이용해 직각 이등변 삼각형을 
# 그리려고합니다. 정수 n 이 주어지면 높이와 너비가 n 인 직각 이등변 삼각형
# 을 출력하도록 코드를 작성해보세요.
n = int(input())
for i in range(n):
    print('*'*(i+1))

5
*
**
***
****
*****

In [12]:
# 문제 설명
# 개미 군단이 사냥을 나가려고 합니다. 개미군단은 사냥감의 체력에 딱 맞는 병력을 
# 데리고 나가려고 합니다. 장군개미는 5의 공격력을, 병정개미는 3의 공격력을 일개
# 미는 1의 공격력을 가지고 있습니다. 예를 들어 체력 23의 여치를 사냥하려고 할 때, 
# 일개미 23마리를 데리고 가도 되지만, 장군개미 네 마리와 병정개미 한 마리를 데리고 
# 간다면 더 적은 병력으로 사냥할 수 있습니다. 사냥감의 체력 hp가 매개변수로 주어질 때, 
# 사냥감의 체력에 딱 맞게 최소한의 병력을 구성하려면 몇 마리의 개미가 필요한지를 
# return하도록 solution 함수를 완성해주세요.
# 장군개미 = 5
# 병정개미 = 3
# 일개미 = 1
# 사냥감의 체력에 딱 맞게 최소한의 병력을 구성
def solution(hp):
    a = (hp // 5)
    b = (hp % 5) // 3
    c = ((hp % 5) % 3) // 1
    return a+b+c
solution(999)

201

In [41]:
# 문제 설명
# 정수 num과 k가 매개변수로 주어질 때, num을 이루는 숫자 중에 k가 있으면 num의 
# 그 숫자가 있는 자리 수를 return하고 없으면 -1을 return 하도록 solution 함수를 완성해보세요.
num = 123456
k = 7
def solution(num, k):
    answer = 0
    for i in str(num):
        answer += 1
        if i == str(k):
            break
        if answer == len(str(num)):
            return -1
    return answer

# 간단하게
def solution2(num, k):
    answer = (str(num).find(str(k))+1)
    if answer == 0:
        answer = -1
    return answer

solution(num, k)

-1

In [40]:
solution2(num,k)

-1

In [58]:
# 문제 설명
# 우주여행을 하던 머쓱이는 엔진 고장으로 PROGRAMMERS-962 행성에 불시착하게 됐습니다. 
# 입국심사에서 나이를 말해야 하는데, PROGRAMMERS-962 행성에서는 나이를 알파벳으로 
# 말하고 있습니다. a는 0, b는 1, c는 2, ..., j는 9입니다. 예를 들어 23살은 cd, 51살은 
# fb로 표현합니다. 나이 age가 매개변수로 주어질 때 PROGRAMMER-962식 나이를 return하도록 
# solution 함수를 완성해주세요.
age = 100
def solution1(age):
    num = [i for i in range(0,10)]
    alpha = ['a','b','c','d','e','f','g','h','i','j']
    answer = ''
    for i in str(age):
        answer += alpha[int(i)]
    return answer

# ord : 문자를 아스키 코드 값으로 변환 , chr : 아스키 코드 값을 문자로 변환
def solution2(age):
    return ''.join([chr(ord('a')+int(i)) for i in str(age)])

solution1(age)

'baa'

In [59]:
solution2(age)

'baa'

In [70]:
# 문제 설명
# 머쓱이는 행운의 숫자 7을 가장 좋아합니다. 정수 배열 array가 매개변수로 주어질 때, 
# 7이 총 몇 개 있는지 return 하도록 solution 함수를 완성해보세요.
array = [7,77,17]
def solution(array):
    string = ''
    answer = 0
    for i in array:
        string += str(i)
    for j in string:
        if j == str(7):
            answer += 1
    return answer

# 더 간단하게
def solution2(array):
    answer = sum([str(i).count("7") for i in array])
    return answer
solution(array)

4

In [71]:
solution2(array)

4

In [77]:
# 문제 설명
# 머쓱이는 친구들과 369게임을 하고 있습니다. 369게임은 1부터 숫자를 하나씩 대며 
# 3, 6, 9가 들어가는 숫자는 숫자 대신 3, 6, 9의 개수만큼 박수를 치는 게임입니다. 
# 머쓱이가 말해야하는 숫자 order가 매개변수로 주어질 때, 머쓱이가 쳐야할 박수 
# 횟수를 return 하도록 solution 함수를 완성해보세요.
order = 29423
def solution(order):
    answer = 0
    for i in str(order):
        if int(i) % 3 == 0 and int(i) != 0:
            answer += 1
    return answer

# 더 간단한 풀이
def solution2(order):
    return sum(map(lambda x: str(order).count(str(x)), [3, 6, 9]))

solution(order)

2

In [79]:
solution2(order)

2

In [83]:
# 문제 설명
# 순서쌍이란 두 개의 숫자를 순서를 정하여 짝지어 나타낸 쌍으로 (a, b)로 표기합니다. 
# 자연수 n이 매개변수로 주어질 때 두 숫자의 곱이 n인 자연수 순서쌍의 개수를 return하도록 
# solution 함수를 완성해주세요.
n = 100
## 시간초과
def solution(n):
    answer = 0
    for i in range(1, n+1):
        for j in range(1, n+1):
            if i * j == n:
                answer += 1
    return answer

## 2번쨰 풀이
def solution2(n):
    answer = 0
    for i in range(1, n+1):
        if n % i == 0:
            answer += 1
    return answer
solution2(n)

9

In [86]:
# 문제 설명
# 문자열 before와 after가 매개변수로 주어질 때, before의 순서를 바꾸어 after를 
# 만들 수 있으면 1을, 만들 수 없으면 0을 return 하도록 solution 함수를 완성해보세요.
before = 'olleh'
after = 'hello'

def solution(before, after):
    a = sorted(before)
    b = sorted(after)
    if a == b:
        return 1
    else:
        return 0

## 더 간단하게
def solution2(before, after):
    return 1 if "".join(sorted(before)) == "".join(sorted(after)) else 0

solution(before, after)

1

In [87]:
solution2(before, after)

1

In [91]:
# 문제 설명
# 문자열 my_string이 매개변수로 주어집니다. my_string에서 중복된 문자를 
# 제거하고 하나의 문자만 남긴 문자열을 return하도록 solution 함수를 완성해주세요.
def solution(my_string):
    return ''.join(dict.fromkeys(my_string))
my_string = 'We are the world'

# 제일 많았던 문제풀이
def solution2(my_string):
    answer = ''
    for i in my_string:
        if i not in answer:
            answer+=i
    return answer
solution(my_string)

'We arthwold'

In [92]:
solution2(my_string)

'We arthwold'

In [107]:
# 문제 설명
# 머쓱이는 직육면체 모양의 상자를 하나 가지고 있는데 이 상자에 정육면체 모양의 
# 주사위를 최대한 많이 채우고 싶습니다. 상자의 가로, 세로, 높이가 저장되어있는 
# 배열 box와 주사위 모서리의 길이 정수 n이 매개변수로 주어졌을 때, 상자에 들어갈 
# 수 있는 주사위의 최대 개수를 return 하도록 solution 함수를 완성해주세요.
box = [10,8,6]
n = 3
def solution(box, n):
    return (box[0]//n) * (box[1]//n) * (box[2]//n)
solution(box, n)

12