<a href="https://colab.research.google.com/github/heokwon/Algorithm_Study/blob/main/Programmers/Programmer's_Lv_0_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# 문제 설명
# 머쓱이네 피자가게는 피자를 두 조각에서 열 조각까지 원하는 조각 수로 잘라줍니다. 
# 피자 조각 수 slice와 피자를 먹는 사람의 수 n이 매개변수로 주어질 때, n명의 사람이 
# 최소 한 조각 이상 피자를 먹으려면 최소 몇 판의 피자를 시켜야 하는지를 return 하도록 
# solution 함수를 완성해보세요.
def solution(slice, n):
    answer = ((n - 1) / slice) + 1
    return int(answer)
solution(4,12)

3

In [8]:
# 문제 설명
# 머쓱이네 옷가게는 10만 원 이상 사면 5%, 30만 원 이상 사면 10%, 50만 원 이상 사면 20%를 할인해줍니다.
# 구매한 옷의 가격 price가 주어질 때, 지불해야 할 금액을 return 하도록 solution 함수를 완성해보세요.
def solution(price):
    if 100000 <= price < 300000:
        answer = price * 0.95
    elif 300000 <= price < 500000:
        answer = price * 0.9
    elif price >= 500000:
        answer = price * 0.8
    else:
        answer = price
    return int(answer)
solution(580000)

464000

In [9]:
# 문제 설명
# 정수가 담긴 리스트 num_list가 주어질 때, num_list의 원소 중 짝수와 홀수의 
# 개수를 담은 배열을 return 하도록 solution 함수를 완성해보세요.
def solution(num_list):
    answer = []
    cnt = 0
    cnt2 = 0
    for i in num_list:
        if i % 2 == 0:
            cnt += 1
        else:
            cnt2 += 1
    answer.append(cnt)
    answer.append(cnt2)
    return answer
lst = [1, 2, 3, 4, 5]
solution(lst)

[2, 3]

In [12]:
# 문제 설명
# 어떤 세균은 1시간에 두배만큼 증식한다고 합니다. 처음 세균의 마리수 n과 경과한 
# 시간 t가 매개변수로 주어질 때 t시간 후 세균의 수를 return하도록 solution 함수를 
# 완성해주세요.
def solution(n, t):
    return n * 2 ** t
solution(7,15)

229376

In [14]:
# 문제 설명
# 문자열 my_string이 매개변수로 주어집니다. my_string을 거꾸로 뒤집은 문자열을 
# return하도록 solution 함수를 완성해주세요.
def solution(my_string):
    answer = ''.join(reversed(my_string))
    return answer
string = 'bread'
solution(string)

'daerb'

In [21]:
# 최댓값 만들기 (1)
# 문제 설명
# 정수 배열 numbers가 매개변수로 주어집니다. numbers의 원소 중 두 개를 곱해 
# 만들 수 있는 최댓값을 return하도록 solution 함수를 완성해주세요.
def solution(numbers):
    numbers.sort(reverse=True)
    answer = numbers[0] * numbers[1]
    return answer
num = [0, 31, 24, 10, 1, 9]
solution(num)

744

In [22]:
# 문제 설명
# 문자열 my_string과 문자 letter이 매개변수로 주어집니다. my_string에서 
# letter를 제거한 문자열을 return하도록 solution 함수를 완성해주세요.
def solution(my_string, letter):
    answer = my_string.replace(letter,'')
    return answer
my_string = "BCBdbe"
letter = "B"
solution(my_string, letter)

'Cdbe'

In [23]:
# 문제 설명
# 두 배열이 얼마나 유사한지 확인해보려고 합니다. 문자열 배열 s1과 s2가 
# 주어질 때 같은 원소의 개수를 return하도록 solution 함수를 완성해주세요.
def solution(s1, s2):
    cnt = 0
    for i in s1:
        for j in s2:
            if i == j:
                cnt += 1
    return cnt
s1 = ["a", "b", "c"]
s2 = ["com", "b", "d", "p", "c"]
solution(s1,s2)

2

In [27]:
len(set(s1)&set(s2))

2

In [28]:
# 문제 설명
# 어떤 자연수를 제곱했을 때 나오는 정수를 제곱수라고 합니다. 
# 정수 n이 매개변수로 주어질 때, n이 제곱수라면 1을 아니라면 2를 
# return하도록 solution 함수를 완성해주세요.
def solution(n):
    temp = n ** 0.5
    if int(temp) == temp:
        answer = 1
    else:
        answer = 2
    return answer
solution(144)

1

In [31]:
# 문제 설명
# 영어에선 a, e, i, o, u 다섯 가지 알파벳을 모음으로 분류합니다. 
# 문자열 my_string이 매개변수로 주어질 때 모음을 제거한 문자열을 
# return하도록 solution 함수를 완성해주세요.
def solution(my_string):
    vowel = ["a","e","i","o","u"]
    for i in vowel:
        my_string = my_string.replace(i,'')
    return my_string
my_string = "nice to meet you"
solution(my_string)

'nc t mt y'

In [32]:
# 문제 설명
# 문자열 str1, str2가 매개변수로 주어집니다. str1 안에 str2가 있다면 
# 1을 없다면 2를 return하도록 solution 함수를 완성해주세요.
def solution(str1, str2):
    if str2 in str1:
        return 1
    else:
        return 2
str1 = "ab6CDE443fgh22iJKlmn1o"
str2 = "6CD"
solution(str1,str2)

1

In [43]:
# 문제 설명
# 문자열 my_string이 매개변수로 주어질 때, my_string 안에 있는 숫자만 
# 골라 오름차순 정렬한 리스트를 return 하도록 solution 함수를 작성해보세요.
import re
def solution(my_string):
    answer=[]
    my_string = re.sub(r'[^0-9]','',my_string)
    for i in my_string:
        answer.append(int(i))
    answer.sort()
    return answer
my_string = "hi12392"
solution(my_string)

[1, 2, 2, 3, 9]

In [52]:
# 문제 설명
# 영어 대소문자로 이루어진 문자열 my_string이 매개변수로 주어질 때, 
# my_string을 모두 소문자로 바꾸고 알파벳 순서대로 정렬한 문자열을 
# return 하도록 solution 함수를 완성해보세요.
def solution(my_string):
    my_string = my_string.lower()
    my_string = "".join(sorted(my_string))
    return my_string
# my_string = "heLLo"
# solution(my_string)

def solution2(my_string):
  return "".join(sorted(my_string.lower()))
my_string = "heLLo"
solution2(my_string)

'ehllo'

In [71]:
# 문자열 my_string이 매개변수로 주어질 때, 대문자는 소문자로 소문자는 
# 대문자로 변환한 문자열을 return하도록 solution 함수를 완성해주세요.
def solution(my_string):
    return my_string.swapcase()
# my_string = "cccCCC"
# solution(my_string)

# swapcase없이
def solution2(my_string):
    answer = ''

    for i in my_string:
        if i.isupper():
            answer+=i.lower()
        else:
            answer+=i.upper()
    return answer
my_string = "cccCCC"
solution2(my_string)

'CCCccc'

In [72]:
# 문제 설명
# 정수 배열 array가 매개변수로 주어질 때, 가장 큰 수와 그 수의 인덱스를 
# 담은 배열을 return 하도록 solution 함수를 완성해보세요.
def solution(array):
    answer = [max(array), array.index(max(array))]
    return answer
array = [9, 10, 11, 8]
solution(array)

[11, 2]

In [73]:
# 문제 설명
# 문자열 my_string과 정수 n이 매개변수로 주어질 때, my_string에 들어있는 
# 각 문자를 n만큼 반복한 문자열을 return 하도록 solution 함수를 완성해보세요.
def solution(my_string, n):
    answer = ''
    for i in my_string:
        answer += i*n
    return answer
my_string = "hello"
n = 3
solution(my_string, n)

'hhheeellllllooo'

In [74]:
# 문제 설명
# 정수 n과 정수 배열 numlist가 매개변수로 주어질 때, numlist에서 n의 배수가 
# 아닌 수들을 제거한 배열을 return하도록 solution 함수를 완성해주세요.
def solution(n, numlist):
    answer = [i for i in numlist if i % n == 0]
    return answer
n = 12
numlist = 	[2, 100, 120, 600, 12, 12]
solution(n, numlist)

[120, 600, 12, 12]

In [77]:
# 문제 설명
# 문자열 my_string이 매개변수로 주어집니다. my_string안의 모든 자연수들의 
# 합을 return하도록 solution 함수를 완성해주세요.
import re
def solution(my_string):
    my_string = re.sub(r'[^0-9]','',my_string)
    answer = [int(i) for i in my_string]
    return sum(answer)
# my_string = "aAb1B2cC34oOp"
# solution(my_string)

## 더 간단하게
def solution2(my_string):
    return sum(int(i) for i in re.sub(r'[^0-9]','',my_string))
my_string = "aAb1B2cC34oOp"
solution2(my_string)

10

In [89]:
# 문제 설명
# 가위는 2 바위는 0 보는 5로 표현합니다. 가위 바위 보를 내는 순서대로 나타낸 
# 문자열 rsp가 매개변수로 주어질 때, rsp에 저장된 가위 바위 보를 모두 이기는 
# 경우를 순서대로 나타낸 문자열을 return하도록 solution 함수를 완성해보세요.
def solution(rsp):
    table = str.maketrans('205', '052')
    answer = rsp.translate(table)
    return answer

def solution2(rsp):
    d = {'0':'5','2':'0','5':'2'}
    return ''.join(d[i] for i in rsp)
rsp = "205"
solution2(rsp)

'052'

In [120]:
# 문제 설명
# 문자열 my_string과 정수 num1, num2가 매개변수로 주어질 때, my_string에서 
# 인덱스 num1과 인덱스 num2에 해당하는 문자를 바꾼 문자열을 return 하도록 
# solution 함수를 완성해보세요.
def solution(my_string, num1, num2):
    lst = list(my_string)
    lst[num1],lst[num2] = lst[num2],lst[num1]
    answer = ''.join(i for i in lst)
    return answer
my_string = "I love you"	
num1 = 3
num2 = 6
solution(my_string, num1, num2)

'I l veoyou'