<a href="https://colab.research.google.com/github/heokwon/Algorithm_Study/blob/main/1)%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 세 정수의 최댓값 구하기
a,b,c에 정숫값을 입력받아 maximum으로 최댓값을 찾을 수 있다.

In [ ]:
print('세 정수의 최댓값을 구합니다.')
a = int(input('정수 a의 값을 입력하세요.:'))
b = int(input('정수 b의 값을 입력하세요.:'))
c = int(input('정수 c의 값을 입력하세요.:'))

maximum = a                 # maximum에 a의 값을 대입
if b > maximum: maximum = b # b의 값이 maximum보다 크면, maximum에 b의 값을 대입
if c > maximum: maximum = c # c의 값이 maximum보다 크면, maximum에 c의 값을 대입

print(f'최댓값은 {maximum}입니다.')

세 정수의 최댓값을 구합니다.
정수 a의 값을 입력하세요.:1
정수 b의 값을 입력하세요.:3
정수 c의 값을 입력하세요.:2
최댓값은 3입니다.

문자열과 숫자 입력받기

In [ ]:
# 이름을 입력받아 인사하기
print('이름을 입려하세요.:', end='')
name = input()
print(f'안녕하세요? {name} 님.')

이름을 입려하세요.:허권
안녕하세요? 허권 님.

input()함수는 키보드로 문자열을 입력받아 반환한다. 실행 결과와 같이 input()함수를 호출하면 입력받은 문자열형(str)의 '허권'을 얻을 수 있고 그 문자열이 name에 대입된다.

In [ ]:
name = input('이름을 입력하세요.:')
print(f'안녕하세요? {name} 님.')

이름을 입력하세요.:허권
안녕하세요? 허권 님.

a,b,c에 저장해야 할 데이터의 자료형은 문자열이 아니라 10진수 정수형입니다. 그런데 input()함수는 문자열을 반환하므로 문자열을 10진수 정수형으로 변환해야 합니다. 이 때 int()함수를 사용합니다.

int()함수는 'int(문자열)'과 같이 문자열을 전달받습니다. 그러면 함수의 실행 결과로 10진수 정수형을 얻습니다.

In [ ]:
print(int('17'),     # 10진수 문자형을 10진수 정수형으로 변환
      int('0b110',2),# 2진수 문자열을 10진수 정수형으로 변환
      int('0o75',8), # 8진수 문자열을 10진수 정수형으로 변환
      int('13',10),  # 10진수 문자열을 10진수 정수형으로 변환
      int('0x3F',16),# 16진수 문자열을 10진수 정수형으로 변환
      float('3.14')) # 문자열을 실수형으로 변환
# 만약 숫자로 변환할 수 없는 문자열을 int(),float()함수에 전달하면 오류가 발생

17 6 61 13 63 3.14

float은 부동 소수점 방식을 사용

부동 소수점은 컴퓨터에서 실수를 근삿값으로 표현할 때 사용. 

실수를 가수 부분과 지수 부분으로 나누어 표현하는 것.

이때 가수 부분은 유효 숫자를 나타내고 지수 부분은소수점의 위치를 나타냄.

## 복합문의 구조

In [ ]:
# 세 정수의 최댓값 구하기

def max3(a,b,c):
  """a,b,c의 최댓값을 구하여 반환"""
  maximum = a
  if b > maximum: maximum = b
  if c > maximum: maximum = c
  return maximum # 최댓값 반환

print(f'max3(3,2,1) = {max3(3,2,1)}') # a > b > c
print(f'max3(3,2,2) = {max3(3,2,2)}') # a > b = c
print(f'max3(3,1,2) = {max3(3,1,2)}') # a > c > b
print(f'max3(3,2,3) = {max3(3,2,3)}') # a = c > b
print(f'max3(2,1,3) = {max3(2,1,3)}') # c > a > c
print(f'max3(3,3,2) = {max3(3,3,2)}') # a = b > c
print(f'max3(3,3,3) = {max3(3,3,3)}') # a = b = c
print(f'max3(2,2,3) = {max3(2,2,3)}') # a = b < c
print(f'max3(2,3,1) = {max3(2,3,1)}') # b > a > c
print(f'max3(2,3,2) = {max3(2,3,2)}') # a = c < b
print(f'max3(1,3,2) = {max3(1,3,2)}') # b > c > a
print(f'max3(2,3,3) = {max3(2,3,3)}') # a < b = c
print(f'max3(1,2,3) = {max3(1,2,3)}') # a < b < c

max3(3,2,1) = 3
max3(3,2,2) = 3
max3(3,1,2) = 3
max3(3,2,3) = 3
max3(2,1,3) = 3
max3(3,3,2) = 3
max3(3,3,3) = 3
max3(2,2,3) = 3
max3(2,3,1) = 3
max3(2,3,2) = 3
max3(1,3,2) = 3
max3(2,3,3) = 3
max3(1,2,3) = 3

## 복합문을 작성할 때 지켜야 할 규칙
복합문의 스위트는 반드시 행마다 같은 수준으로 들여쓰기를 해야 한다. 들여쓰기는 공백을 최소 1개 이상 사용해야 하며, PEP 8 (파이썬 코드 작성 규칙)에서는 공백4개를 들여쓰기로 사용할 것을 권장.

In [ ]:
if a < b:
  min2 = a # 공백4개로 들여쓰기
  max2 = b # 이 문장도 공백 4개로 들여쓰기를 해야 if a < b:에 종속되어 실행된다.

만약 스위트가 단순문이면 해더와 같은 행에 둘 수 있다. 또한 단순문이 2개 이상이면 각각의 단순문을 세미콜론으로 구분하여 다음과 같이 헤더와 같은 행에 둘 수 있다. 이때 세미콜론은 마지막 단순문 뒤에 놓을수도 있다.

In [ ]:
if a < b: min2 = a # 단순문 1개
if a < b: min2 = a; max2 = b # 단순문 2개
if a < b: min2 = a; max2 = b; # 단순문 2개(세미콜론을 추가한 단순문)

하지만 스위트가 복합문이면 헤더와 스위트를 같은 행에 포함시킬 수 없다. 다음과 같은 코드는 콜론 뒤에 복합문이 포함되었으므로 오류가 발생.

In [ ]:
if a < b: if c < d: x = u # 오류발생 : 헤더와 같은 행에 복합문을 둘 수 없음

## 세 정수의 대소 관계와 중앙값

In [ ]:
# 세 정수를 입력받아 중앙값 구하기1

def med3(a,b,c):
  """a,b,c의 중앙값을 구하여 반환"""
  if a >= b:
    if b >= c:
      return b # a >= b >= c
    elif a <= c:
      return a # c >= a >= b
    else:
      return c  
  elif a > c:
    return a
  elif b > c:
    return c
  else:
    return b


print('세 정수의 중앙값을 구합니다.')
a=int(input('정수 a의 값을 입력하세요.:'))
b=int(input('정수 b의 값을 입력하세요.:'))
c=int(input('정수 c의 값을 입력하세요.:'))

print(f'중앙값은 {med3(a,b,c)}입니다.')

세 정수의 중앙값을 구합니다.
정수 a의 값을 입력하세요.:1
정수 b의 값을 입력하세요.:3
정수 c의 값을 입력하세요.:2
중앙값은 2입니다.

In [ ]:
def med3(a,b,c):
  if (b>=a and c <= a) or (b<=a and c>=a):
    return a
  elif (a>b and c<b) or (a<b and c>b):
    return b
  return c

print('세 정수의 중앙값을 구합니다.')
a=int(input('정수 a의 값을 입력하세요.:'))
b=int(input('정수 b의 값을 입력하세요.:'))
c=int(input('정수 c의 값을 입력하세요.:'))

print(f'중앙값은 {med3(a,b,c)}입니다.')

세 정수의 중앙값을 구합니다.
정수 a의 값을 입력하세요.:1
정수 b의 값을 입력하세요.:3
정수 c의 값을 입력하세요.:2
중앙값은 2입니다.

In [ ]:
# 입력받은 정수의 부호(양수, 음수, 0)출력하기

n = int(input('정수를 입력하세요.: '))

if n > 0:
  print('이 수는 양수입니다.')
elif n < 0:
  print('이 수는 음수입니다.')
else:
  print('이 수는 0입니다.')

정수를 입력하세요.: -5
이 수는 음수입니다.

n = 1, 2, 3 이외의 값을 집어넣었을 때, 결과값을 C로만 출력

In [ ]:
# 3개로 분기하는 조건문

n = int(input('정수를 입력하세요,: '))

if n == 1:
  print('A')
elif n == 2:
  print('B')
else:
  print('C')

정수를 입력하세요,: 3
C

n = 1, 2, 3 이 아니면 아무것도 출력하지 않는다.

In [ ]:
n = int(input('정수를 입력하세요.: '))

if n == 1:
  print('A')
elif n == 2:
  print('B')
elif n == 3:
  print('C')

정수를 입력하세요.: 4

In [ ]:
n = int(input('정수를 입력하세요.: '))

if n == 1:
  print('A')
elif n == 2:
  print('B')
elif n == 3:
  print('C')
else:
  pass

정수를 입력하세요.: 4

## 연산자와 피연산자
ex) a > b 에서, 연산자는 > 피연산자는 a와 b

조건 연산자인 if~else 문은 파이썬의 유일한 삼항 연산자이다. 예를 들어 조건식 a if b else c는 b를 평가한 값이 True이면 a를, False이면 c를 보여준다.

# 반복하는 알고리즘

### 1부터 n까지 정수의 합 구하기

In [ ]:
print('1부터 n까지 정수의 합을 구합니다.')
n = int(input('n값을 입력하세요.: '))

sum=0
i=1 # 카운터용 변수

while i <= n:
  sum += i
  i += 1

print(f'1부터 {n}까지 정수의 합은 {sum}입니다.')
print(f'i값은 {i}입니다.')

1부터 n까지 정수의 합을 구합니다.
n값을 입력하세요.: 5
1부터 5까지 정수의 합은 15입니다.
i값은 6입니다.

for문 반복

In [ ]:
print('1부터 n까지 정수의 합을 구합니다.')
n = int(input('n값을 입력하세요.: '))

sum = 0
for i in range(1, n+1):
  sum += i

print(f'1부터 {n}까지 정수의 합은 {sum}입니다.')

1부터 n까지 정수의 합을 구합니다.
n값을 입력하세요.: 5
1부터 5까지 정수의 합은 15입니다.

range()함수로 이터러블 객체 생성하기

대표적인 이터러블 자료형으론 list, str, tuple이 있다.



```
range(n) # 0 이상 n 미만인 수를 차례로 나열하는 수열
range(a, b) # a 이상 b 미만인 수를 차례로 나열하는 수열
range(a, b, step) # a 이상 b 미만인 수를 step 간격으로 나열하는 수열
```

연속하는 정수의 합을 구할 때 시작하는 값이 1이 아닌 정수를 입력받았다면 range()합수에 전달할 시작값과 끝값을 오름차순으로 정렬해야 한다.

In [ ]:
print('a부터 b까지 정수의 합을 구합니다.')
a = int(input('정수 a를 입력하세요.: '))
b = int(input('정수 b를 입력하세요.: '))

if a > b:
  a,b = b,a # a와 b를 오름차순으로 정렬 // a와 b의 값을 교환(단일 대입문 사용)

sum = 0
for i in range(a, b+1):
  sum += i

print(f'{a}부터 {b}까지 정수의 합은 {sum}입니다.')

a부터 b까지 정수의 합을 구합니다.
정수 a를 입력하세요.: 8
정수 b를 입력하세요.: 3
3부터 8까지 정수의 합은 33입니다.

반복 과정에서 조건 판단하기 1

In [ ]:
# a부터 b까지 정수의 합 구하기 1

print('a부터 b까지 정수의 합을 구합니다.')
a = int(input('정수 a를 입력하세요.: '))
b = int(input('정수 b를 입력하세요.: '))

if a > b:
  a,b = b,a

sum = 0
for i in range(a,b+1):
  if i < b:
    print(f'{i}+',end='') # i가 b보다 작으면 합을 구하는 과정 출력
  else:
    print(f'{i} =',end='') # i가 b보다 크거나 같으면 최종값 출력을 위해 i= 를 출력
  sum += i

print(sum)

a부터 b까지 정수의 합을 구합니다.
정수 a를 입력하세요.: 3
정수 b를 입력하세요.: 7
3+4+5+6+7 =25

In [ ]:
# a부터 b까지 정수의 합 구하기 2

print('a부터 b까지 정수의 합을 구합니다.')
a = int(input('정수 a를 입력하세요.: '))
b = int(input('정수 b를 입력하세요.: '))

if a > b:
  a,b = b,a

sum = 0
for i in range(a,b):
    print(f'{i}+',end='')
    sum += i  
    
print(f'{b} =',end='')
sum += b

print(sum)

a부터 b까지 정수의 합을 구합니다.
정수 a를 입력하세요.: 3
정수 b를 입력하세요.: 7
3+4+5+6+7 =25



```
판단 횟수가 n번에서 0번으로 바뀌고, 반복 횟수도 1번 감소
```



```
진행 중인 값: for문에서 a부터 b-1까지 값 뒤에 +를 붙여 출력.
최종값: b의 값 뒤에 =를 붙여 출력
-> 프로그램을 개선하여 알고리즘의 효율상승
```

반복 과정에서 조건 판단하기 2

In [ ]:
# +와 -를 번갈아 출력하기 1

print('+와 -를 번갈아 출력합니다.')
n = int(input('몇 개를 출력할까요?'))

for i in range(n):
  if i % 2:
    print('-', end='') # 홀수인 경우 - 출력
  else:
    print('+', end='') # 짝수인 경우 + 출력

print()

+와 -를 번갈아 출력합니다.
몇 개를 출력할까요?12
+-+-+-+-+-+-

In [ ]:
# +와 -를 번갈아 출력하기 1(for문 수정)

print('+와 -를 번갈아 출력합니다.')
n = int(input('몇 개를 출력할까요?'))

for i in range(1, n+1):
  if i % 2:
    print('+', end='')
  else:
    print('-', end='')

print()

In [ ]:
# +와 -를 번갈아 출력하기 2

print('+와 -를 번갈아 출력합니다.')
n = int(input('몇 개를 출력할까요?: '))

#for _ in range(n // 2):
#  print('+-', end='')
for _ in range(1, n // 2 + 1):
  print('+-', end='')
if n % 2:
  print('+', end='')

print()

+와 -를 번갈아 출력합니다.
몇 개를 출력할까요?: 13
+-+-+-+-+-+-+

반복 과정에서 조건 판단하기 3



```
*를 n개 출력하되 w개마다 줄바꿈을 하는 프로그램
```

In [ ]:
# *를 n개 출력하되 w개마다 줄바꿈하기 1

print('*를 출력합니다.')
n = int(input('몇 개를 출력할까요?: '))
w = int(input('몇 개마다 줄바꿈할까요?: '))

for i in range(n):   # n번 반복
  print('*', end='')
  if i % w == w - 1: # n번 판단
    print()          # 줄바꿈

if n % w :           # 1번 판단
  print()            # 줄바꿈

*를 출력합니다.
몇 개를 출력할까요?: 14
몇 개마다 줄바꿈할까요?: 5
*****
*****
****

In [ ]:
# *를 n개 출력하되 w개마다 줄바꿈하기 2

print('*를 출력합니다.')
n = int(input('몇 개를 출력할까요?: '))
w = int(input('몇 개마다 줄바꿈할까요?: '))

for _ in range( n // w ): # n//w 번 반복
  print('*'*w)

rest = n % w
if rest:                  # if문 판단 1번
  print('*'*rest)

*를 출력합니다.
몇 개를 출력할까요?: 14
몇 개마다 줄바꿈할까요?: 5
*****
*****
****

양수만 입력받기

In [ ]:
# 1부터 n까지 정수의 합 구하기(n값은 양수만 입력받음)

print('1부터 n까지 정수의 합을 구합니다.')

while True:
  n = int(input('n값을 입력하세요.: '))
  if n > 0:
    break # n이 0보다 커질 때까지 반복
          # n이 음수면 질문을 다시함
sum = 0
i = 1

for i in range(1, n+1):
  sum += i
  i += 1

print(f'1부터 {n}까지 정수의 합은 {sum}입니다.')

1부터 n까지 정수의 합을 구합니다.
n값을 입력하세요.: -6
n값을 입력하세요.: 0
n값을 입력하세요.: 10
1부터 10까지 정수의 합은 55입니다.

무한 루프와 break문 알아보기



```
while True:
  n = int(input('n값을 입력하세요.: '))
  if n > 0:
    break # n이 0보다 커질 때까지 반복
          # n이 음수면 질문을 다시함
```

직사각형 넓이로 변의 길이 구하기

In [ ]:
# 가로, 세로 길이가 정수이고 넓이가 area인 직사각형에서 변의 길이 나열하기

area = int(input('직사각형의 넓이를 입력하세요.: '))

for i in range(1, area + 1):
  if i*i>area: break
  if area %i : continue
  print(f'{i} x {area//i}')

직사각형의 넓이를 입력하세요.: 32
1 x 32
2 x 16
4 x 8

i*i가 area를 초과하면 for문을 강제로 종료,i가 가장 긴 변의 길이가 되기 때문이다.

예를 들어 i가 6이 되면 6x6=36이므로 사각형의 최대 넓이(32)를 초과하면서도 가장 긴 변의 길이가 되므로 프로그램을 종료합니다.

In [ ]:
# 10~99 사이의 난수 n개 생성하기(13이 나오면 중단)

import random

n=int(input('난수의 개수를 입력하세요.: '))

for _ in range(n):
  r = random.randint(10,99)
  print(r, end=' ')
  if r == 13:
    print('\n프로그램을 중단합니다.')
    break

else:
  print('\n난수 생성을 종료합니다.')

난수의 개수를 입력하세요.: 5
45 33 25 67 73
난수 생성을 종료합니다.

반복문 건너뛰기와 여러 범위 스캔하기

In [ ]:
# 1 ~ 12 까지 8을 건너뛰고 출력하기 1

for i in range(1,13):
  if i == 8:
    continue
  print(i,end=' ')

print()

1 2 3 4 5 6 7 9 10 11 12

### 다중 루프 알아보기

구구단 곱셈표 출력하기

In [ ]:
# 구구단 곱셈표 출력하기

print('-'*27)
for i in range(1,10):
  for j in range(1,10):
    print(f'{i*j:3}',end='') # i*j를 3자리로 출력
  print()
print('-'*27)

---------------------------
  1  2  3  4  5  6  7  8  9
  2  4  6  8 10 12 14 16 18
  3  6  9 12 15 18 21 24 27
  4  8 12 16 20 24 28 32 36
  5 10 15 20 25 30 35 40 45
  6 12 18 24 30 36 42 48 54
  7 14 21 28 35 42 49 56 63
  8 16 24 32 40 48 56 64 72
  9 18 27 36 45 54 63 72 81
---------------------------



```
행,열 루프는 각각 9번 실행되며, 열 루프가 종료되면 줄바꿈하여 다음 행 루프 실행준비
```

직각 이등변 삼각형으로 출력하기

In [ ]:
# 왼쪽 아래가 직각인 이등변 삼각형으로 *출력하기

print('왼쪽 아래가 직각인 이등변 삼각형을 출력합니다.')
n = int(input('짧은 변의 길이를 입력하세요.: '))

for i in range(n):
  for j in range(i + 1):
    print('*',end='')
  print()

for i in range(n):
  for _ in range(n - i - 1):
    print(' ',end='')
  for _ in range(i + 1):
    print('*',end='')
  print()

왼쪽 아래가 직각인 이등변 삼각형을 출력합니다.
짧은 변의 길이를 입력하세요.: 5
*
**
***
****
*****
    *
   **
  ***
 ****
*****

In [ ]:
# 함수 내부,외부에서 정의한 변수와 객체의 식별 번호를 출력하기

n=1
def put_id():
  x=1
  print(f'id(x) = {id(x)}')

print(f'id(1) = {id(1)}')
print(f'id(n) = {id(n)}')
put_id()

id(1) = 11256064
id(n) = 11256064
id(x) = 11256064

In [ ]:
# 1부터 100까지 반복하여 출력하기
for i in range(1,100):
  print(f'i ={i:3}   id(i)={id(i)}')

i =  1   id(i)=11256064
i =  2   id(i)=11256096
i =  3   id(i)=11256128
i =  4   id(i)=11256160
i =  5   id(i)=11256192
i =  6   id(i)=11256224
i =  7   id(i)=11256256
i =  8   id(i)=11256288
i =  9   id(i)=11256320
i = 10   id(i)=11256352
i = 11   id(i)=11256384
i = 12   id(i)=11256416
i = 13   id(i)=11256448
i = 14   id(i)=11256480
i = 15   id(i)=11256512
i = 16   id(i)=11256544
i = 17   id(i)=11256576
i = 18   id(i)=11256608
i = 19   id(i)=11256640
i = 20   id(i)=11256672
i = 21   id(i)=11256704
i = 22   id(i)=11256736
i = 23   id(i)=11256768
i = 24   id(i)=11256800
i = 25   id(i)=11256832
i = 26   id(i)=11256864
i = 27   id(i)=11256896
i = 28   id(i)=11256928
i = 29   id(i)=11256960
i = 30   id(i)=11256992
i = 31   id(i)=11257024
i = 32   id(i)=11257056
i = 33   id(i)=11257088
i = 34   id(i)=11257120
i = 35   id(i)=11257152
i = 36   id(i)=11257184
i = 37   id(i)=11257216
i = 38   id(i)=11257248
i = 39   id(i)=11257280
i = 40   id(i)=11257312
i = 41   id(i)=11257344
i = 42   id(i)=11257376
i = 43   id(i)=11257408
i = 44   id(i)=11257440
i = 45   id(i)=11257472
i = 46   id(i)=11257504
i = 47   id(i)=11257536
i = 48   id(i)=11257568
i = 49   id(i)=11257600
i = 50   id(i)=11257632
i = 51   id(i)=11257664
i = 52   id(i)=11257696
i = 53   id(i)=11257728
i = 54   id(i)=11257760
i = 55   id(i)=11257792
i = 56   id(i)=11257824
i = 57   id(i)=11257856
i = 58   id(i)=11257888
i = 59   id(i)=11257920
i = 60   id(i)=11257952
i = 61   id(i)=11257984
i = 62   id(i)=11258016
i = 63   id(i)=11258048
i = 64   id(i)=11258080
i = 65   id(i)=11258112
i = 66   id(i)=11258144
i = 67   id(i)=11258176
i = 68   id(i)=11258208
i = 69   id(i)=11258240
i = 70   id(i)=11258272
i = 71   id(i)=11258304
i = 72   id(i)=11258336
i = 73   id(i)=11258368
i = 74   id(i)=11258400
i = 75   id(i)=11258432
i = 76   id(i)=11258464
i = 77   id(i)=11258496
i = 78   id(i)=11258528
i = 79   id(i)=11258560
i = 80   id(i)=11258592
i = 81   id(i)=11258624
i = 82   id(i)=11258656
i = 83   id(i)=11258688
i = 84   id(i)=11258720
i = 85   id(i)=11258752
i = 86   id(i)=11258784
i = 87   id(i)=11258816
i = 88   id(i)=11258848
i = 89   id(i)=11258880
i = 90   id(i)=11258912
i = 91   id(i)=11258944
i = 92   id(i)=11258976
i = 93   id(i)=11259008
i = 94   id(i)=11259040
i = 95   id(i)=11259072
i = 96   id(i)=11259104
i = 97   id(i)=11259136
i = 98   id(i)=11259168
i = 99   id(i)=11259200