<a href="https://colab.research.google.com/github/heokwon/Algorithm_Study/blob/main/2)%EA%B8%B0%EB%B3%B8%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0%EC%99%80_%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 배열 개념 알아보기
배열을 사용하면서 따로따로 흩어진 변수를 하나로 묶어서 사용할 수 있어 코드를 쉽고 효율적으로 작성할 수 있다.

In [ ]:
# 학생 5명의 시험 점수를 입력받아 합계와 평균을 출력하기

print('학생 그룹 점수의 합계와 평균을 구합니다.')

score1 = int(input('1번 학생의 점수를 입력하세요.: '))
score2 = int(input('2번 학생의 점수를 입력하세요.: '))
score3 = int(input('3번 학생의 점수를 입력하세요.: '))
score4 = int(input('4번 학생의 점수를 입력하세요.: '))
score5 = int(input('5번 학생의 점수를 입력하세요.: '))

total=0
total+=score1
total+=score2
total+=score3
total+=score4
total+=score5

print(f'합계는 {total}점 입니다.')
print(f'평균은 {total/5}점 입니다.')

학생 그룹 점수의 합계와 평균을 구합니다.
1번 학생의 점수를 입력하세요.: 32
2번 학생의 점수를 입력하세요.: 68
3번 학생의 점수를 입력하세요.: 72
4번 학생의 점수를 입력하세요.: 54
5번 학생의 점수를 입력하세요.: 92
합계는 318점 입니다.
평균은 63.6점 입니다.



```
배열에는 객체가 저장되며, 배열에 저장된 객체 하나하나를 '원소'라고 한다. 
또한 각 원소는 0,1,2 순으로 index를 부여받는다. 
```

### 리스트와 튜플 알아보기
배열을 list와 tuple로 구현가능. list와 tuple은 data container라고 하며, 비슷한 기능을 하는 듯 하지만 원소를 변경할 수 있는지 없는지에 따라 차이가 있다.



```
정수를 나타내는int형과 문자열을 나타내는 str형은 값을 변경할 수 없다.
이렇게 값을 변경할 수 없는 특성을 '이뮤터블(immutable)'이라고 하며,
값을 변경할 수 있는 특성을 '뮤터블(mutable)'이라고 한다.
```



```
*   뮤터블 자료형: 리스트, 딕셔너리, 집합 등
*   이뮤터블 자료형: 수, 문자열, 튜플 등
```

In [ ]:
x=0
type(x+17)

int

In [ ]:
type(x=17)

TypeError: ignored



```
x=17은 '식'이 아니라 '문'이므로 자료형을 확인할 수 없다.
```

### 자료구조의 개념 알아보기
data structure : 논리적인 관계로 이루어진 데이터 구성

즉, 데이터가 모여 있는 구조다.



```
등가성과 동일성

*   두 객체의 값이 같은지 비교 : ==
*   두 객체의 값과 식별 번호가 같은지 비교 : is


```

### 배열
> ### 배열 원소의 최댓값 구하기

In [ ]:
from typing import Any,Sequence
# Any : 제약이 없는 임의의 자료형
# Sequence형에는 list,bytearry,str,tuple,bytes형이 있다.

def max_of(a: Sequence) -> Any:
  maximum = a[0]
  for i in range(1, len(a)):
    if a[i] > maximum:
      maximum = a[i]
  return maximum

if __name__ == '__main__':
  print('배열의 최댓값을 구합니다.: ')
  num = int(input('원소 수를 입력하세요.: '))
  x = [None] * num

  for i in range(num):
    x[i] = int(input(f'x[{i}값을 입력하세요.: '))

  print(f'최댓값은 {max_of(x)}입니다.')

배열의 최댓값을 구합니다.:
원소 수를 입력하세요.: 5
x[0값을 입력하세요.: 172
x[1값을 입력하세요.: 153
x[2값을 입력하세요.: 192
x[3값을 입력하세요.: 140
x[4값을 입력하세요.: 165
최댓값은 192입니다.



```
두 자료형을 사용하여 max_of합수를 다음과 같이 정의
* 건네받는 매개변수 a의 자료형은 Sequence
* 반환하는 것은 임의의 자료형인 Any

이를 바탕으로 max_of()함수의 특성은 다음과 같이 정의
* 함수 안에서는 배열a의 원솟값을 변경하지 않음
* 호출하는 쪽이 넘겨주는 실제 인수의 자료형은 뮤터블인 리스트,
  이뮤터블인 튜플.문자열 등 시퀀스 자료형이라면 무엇이든 상관 없다.
* 인수의 원소를 비교 연산자>로 값을 비교할 수 있다면 다른 형(int형,float형)이
 섞여 있어도 된다.
* 최댓값의 원소가 int형 원소면 int형 값을 반환하고, float형 원소면 float형 값을 반환
```

### 재사용할 수 있는 모듈 작성하기
하나의 스크립트 프로그램을 '모듈(module)'이라고 한다.
확장자(.py)를 포함하지 않는 파일의 이름 자체를 모듈 이름으로 사용.



```
스크립트 프로그램이 직접 실행될 때 변수 __name__은 '__main__'이다.
스크립트 프로그램이 import될 때 변수 __name__은 원래 모듈 이름
```

### 모듈 테스트하기

In [ ]:
# 배열 원소의 최댓값을 구해서 출력하기(원솟값을 입력받음)
# from max import max_of : 전 실습을 max.py로 저장했을때, max.py에서 max_of함수를 불러옴

print('배열의 최댓값을 구합니다.')
print('주의: "End"를 입력하면 종료합니다.')

number = 0
x = []

while True:
  s = input(f'x[{number}]값을 입력하세요.: ')
  if s == 'End':
    break
  x.append(int(s))
  number += 1

print(f'{number}개를 입력했습니다.')
print(f'최댓값은 {max_of(x)}입니다.')

배열의 최댓값을 구합니다.
주의: "End"를 입력하면 종료합니다.
x[0]값을 입력하세요.: 15
x[1]값을 입력하세요.: 72
x[2]값을 입력하세요.: 64
x[3]값을 입력하세요.: 7
x[4]값을 입력하세요.: End
4개를 입력했습니다.
최댓값은 72입니다.

### 배열의 원솟갑을 난수로 결정하기
배열의 원소 수,최댓값,최솟값은 입력받고, 최댓값과 최솟값 안에서 배열을 구성하는 원솟값은 난수로 결정하는 실습하기

In [ ]:
import random

print('난수의 최댓값 구하기')
num = int(input('난수 개수 입력: '))
lo = int(input('난수 최솟값 입력: '))
hi = int(input('난수 최댓값 입력: '))
x = [None]*num

for i in range(num):
  x[i]=random.randint(lo,hi)

print(f'{(x)}')
print(f'이중 최댓값은 {max_of(x)}이다.')

난수의 최댓값 구하기
난수 개수 입력: 5
난수 최솟값 입력: 10
난수 최댓값 입력: 99
[20, 63, 62, 89, 18]
이중 최댓값은 89이다.

In [ ]:
# 배열 원소의 최댓값을 구해서 출력하기(원솟값을 난수로 생성)

import random
# from max import max_of

print('난수의 최댓값을 구합니다.')
num = int(input('난수의 개수를 입력하세요.: '))
lo = int(input('난수의 최솟값을 입력하세요.: '))
hi = int(input('난수의 최댓값을 입력하세요.: '))
x = [None] * num   # 원소 수가 num인 리스트를 생성

for i in range(num):
  x[i] = random.randint(lo,hi) # lo 이상 hi 이하인 정수 난수를 반환

print(f'{(x)}')
print(f'이 가운데 최댓값은 {max_of(x)}입니다.')

난수의 최댓값을 구합니다.
난수의 개수를 입력하세요.: 5
난수의 최솟값을 입력하세요.: 10
난수의 최댓값을 입력하세요.: 99
[94, 30, 14, 76, 98]
이 가운데 최댓값은 98입니다.

### 튜플,문자열,문자열 리스트의 최댓값 구하기

In [ ]:
# 각 배열 원소의 최댓값을 구해서 출력하기(튜플,문자열,문자열 리스트)

#from max import max_of

t = (4,7,5.6,2,3.14,1)
s = 'string'
a = ['DTS','AAC','FLAC']

print(f'{t}의 최댓값은 {max_of(t)}')
print(f'{s}의 최댓값은 {max_of(s)}')
print(f'{a}의 최댓값은 {max_of(a)}')

(4, 7, 5.6, 2, 3.14, 1)의 최댓값은 7
string의 최댓값은 t
['DTS', 'AAC', 'FLAC']의 최댓값은 FLAC



```
t : 정수와 실수 원소중 가장 큰 값 출력
s : string이라는 문자열 가운데 가장 큰 문자코드 t 출력
a : 문자열 리스트, 사전 순으로 가장 큰 문자열인 FLAC 츨력
```

In [ ]:
# 리스트의 모든 원소를 스캔하기(원소 수를 미리 파악)

x = ['John','George','Paul','Ringo']

for i in range(len(x)):
  print(f'x[{i}] = {x[i]}')

x[0] = John
x[1] = George
x[2] = Paul
x[3] = Ringo

In [ ]:
# 리스트의 모든 원소를 enumerate() 함수로 스캔하기

x = ['Jogn','George','Paul','Ringo']

for i,name in enumerate(x):
  print(f'x[{i}] = {name}')

x[0] = Jogn
x[1] = George
x[2] = Paul
x[3] = Ringo

In [ ]:
# 리스트의 모든 원소를 enumerate()함수로 스캔하기(1부터 카운트)

x = ['John','George','Paul','Ringo']

for i, name in enumerate(x, 1):
  print(f'{i}번째 = {name}')

1번째 = John
2번째 = George
3번째 = Paul
4번째 = Ringo

In [ ]:
# 리스트의 모든 원소를 스캔하기(인덱스값을 사용하지 않음)

x = ['John','George','Paul','Ringo']

for i in x:
  print(i)

John
George
Paul
Ringo

### 배열 원소를 역순으로 정렬하기



```
배열 원소를 역순으로 정렬하는 알고리즘
for i in range(n//2):
    a[i]와 a[n-i-1]의 값을 교환
```

In [ ]:
# 뮤터블 시퀀스 원소를 역순으로 정렬

from typing import Any, MutableSequence

def reverse_array(a: MutableSequence) -> None:
  """뮤터블 시퀀스 a의 원소를 역순으로 정렬"""
  n = len(a)
  for i in range(n//2):
    a[i], a[n-i-1] = a[n-i-1], a[i]

if __name__ == '__main__':
  print('배열 원소를 역순으로 정렬합니다,')
  nx = int(input('원소 수를 입력하세요.: '))
  x = [None] * nx

  for i in range(nx):
    x[i] = int(input(f'x[{i}]값을 입력하세요.: '))

  reverse_array(x)

  print('배열 원소를 역순으로 정렬했습니다.')
  for i in range(nx):
    print(f'x[{i}] = {x[i]}')

배열 원소를 역순으로 정렬합니다,
원소 수를 입력하세요.: 7
x[0]값을 입력하세요.: 2
x[1]값을 입력하세요.: 5
x[2]값을 입력하세요.: 1
x[3]값을 입력하세요.: 3
x[4]값을 입력하세요.: 9
x[5]값을 입력하세요.: 6
x[6]값을 입력하세요.: 7
배열 원소를 역순으로 정렬했습니다.
x[0] = 7
x[1] = 6
x[2] = 9
x[3] = 3
x[4] = 1
x[5] = 5
x[6] = 2



```
기수와 서수
'기수'는 수를 나타내는 데 기초가 되며 10진법에서는 0~9까지 정수를 말한다.
이 10개의 기수를 사용하여 무수히 많은 값을 수로 나타낼 수 있다.
'서수'는 사물의 순서를 나타낸다.(첫째,둘째,셋째,...)
```



```
* 16진수 : 0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F
* 10진수 : 0,1,2,3,4,5,6,7,8,9
* 8진수  : 0,1,2,3,4,5,6,7
```

In [ ]:
# 10진수 정숫값을 입력받아 2~36진수로 변환하여 출력하기

def card_conv(x: int, r: int) -> str:
  """정숫값 x를 r진수로 변환한 뒤 그 수를 나타내는 문자열을 반환"""

  d = '' # 변환 후의 문자열
  dchar = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ'

  while x > 0:
    d += dchar[x % r] # 해당하는 문자를 꺼내 결합
    x //= r

  return d[::-1] # 역순으로 반환

In [ ]:
if __name__ == '__main__':
  print('10진수를 n진수로 변환합니다.')

  while True:
    while True:
      no = int(input('변환할 값으로 음이 아닌 정수를 입력하세요.: '))
      if no > 0 :
        break

    while True : 
      cd = int(input('어떤 진수로 변환할까요?: '))
      if 2 <= cd <= 36:
        break

    print(f'{cd}진수로는 {card_conv(no,cd)}입니다.')

    retry = input("한 번 더 변환할까요?(Y...예 / N...아니요): ")
    if retry in {'N', 'n'}:
      break

10진수를 n진수로 변환합니다.
변환할 값으로 음이 아닌 정수를 입력하세요.: 29
어떤 진수로 변환할까요?: 2
2진수로는 11101입니다.
한 번 더 변환할까요?(Y...예 / N...아니요): Y
변환할 값으로 음이 아닌 정수를 입력하세요.: 27
어떤 진수로 변환할까요?: 10
10진수로는 27입니다.
한 번 더 변환할까요?(Y...예 / N...아니요): Y
변환할 값으로 음이 아닌 정수를 입력하세요.: 42
어떤 진수로 변환할까요?: 8
8진수로는 52입니다.
한 번 더 변환할까요?(Y...예 / N...아니요): n

In [ ]:
if __name__ == '__main__':
  print('10진수를 n진수로 변환합니다.')

  while True:
    while True:
      no = int(input('변환할 값으로 음이 아닌 정수를 입력하세요.: '))
      if no > 0:
        break

    while True:
      cd = int(input('어떤 진수로 변환할까요?: '))
      if 2 <= cd <= 36:
        break

    print(f'{cd}진수로는 {card_conv(no, cd)}입니다.')

    retry = input('한 번 더 변환할까요?(Y...예 / N...아니요): ')
    if retry in ('N','n'):
      break

10진수를 n진수로 변환합니다.
변환할 값으로 음이 아닌 정수를 입력하세요.: 29
어떤 진수로 변환할까요?: 2
2진수로는 11101입니다.
한 번 더 변환할까요?(Y...예 / N...아니요): N

In [ ]:
# 10진수 정숫값을 입력받아 2~36진수로 변환하여 출력하기

def card_conv(x: int, r: int) -> str:
  """정숫값 x를 r진수로 변환한 뒤 그 수를 나타내는 문자열을 반환"""

  d = ''
  dchar = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ'
  n = len(str(x))

  print(f'{r:2} | {x:{n}d}')
  while x > 0:
    print('  +'+(n+2)*'-')
    if x // r:
      print(f'{r:2} | {x // r:{n}d} ... {x % r}')
    else:
      print(f'     {x // r:{n}d} ... {x % r}')
    d += dchar [x % r]
    x //= r

  return d[::-1]

if __name__ == '__main__':
  print('10진수를 n진수로 변환합니다.')

  while True:
    while True:
      no = int(input('변환할 값으로 음이 아닌 정수를 입력하세요.: '))
      if no > 0:
        break

    while True:
      cd = int(input('어떤 진수로 변환할까요?: '))
      if 2 <= cd <= 36:
        break

    print(f'{cd}진수로는 {card_conv(no, cd)}입니다.')

    retry = input('한 번 더 변환할까요?(Y...예 / N...아니요): ')
    if retry in ('N','n'):
      break

10진수를 n진수로 변환합니다.
변환할 값으로 음이 아닌 정수를 입력하세요.: 29
어떤 진수로 변환할까요?: 2
 2 | 29
  +----
 2 | 14 ... 1
  +----
 2 |  7 ... 0
  +----
 2 |  3 ... 1
  +----
 2 |  1 ... 1
  +----
      0 ... 1
2진수로는 11101입니다.
한 번 더 변환할까요?(Y...예 / N...아니요): N

### 함수 사이에 인수 주고받기

In [ ]:
# 1부터 n까지 정수의 합 구하기

def sum_1ton(n):
  """1부터 n까지 정수의 합"""
  s = 0
  while n > 0:
    s += n
    n -= 1
  return s

x = int(input('x의 값을 입력하세요.: '))
print(f'1부터 {x}까지 정수의 합은 {sum_1ton(x)}입니다.')

x의 값을 입력하세요.: 5
1부터 5까지 정수의 합은 15입니다.

In [ ]:
# 리스트에서 임의의 원솟값을 업데이트하기

def change(lst, idx, val):
  """lst[idx]의 값을 val로 업데이트"""
  lst[idx] = val

x = [11,22,33,44,55]
print('x =', x)

index = int(input('업데이트할 인덱스를 선택하세요.: '))
value = int(input('새로운 값을 입력하세요.: '))

change(x, index, value)
print(f'x = {x}')

x = [11, 22, 33, 44, 55]
업데이트할 인덱스를 선택하세요.: 2
새로운 값을 입력하세요.: 99
x = [11, 22, 99, 44, 55]

### 소수 나열하기



```
2부터 n-1까지 어떤 정수로도 나누어 떨어지지 않습니다.
만약 나누어 떨어지는 정수가 하나 이상 존재하면 그 수는 '합성수'입니다.
```

In [ ]:
# 1000 이하의 소수 나열하기

counter = 0

for n in range(2, 1001):
  for i in range(2, n):
    counter += 1
    if n % i == 0:  # 나누어 떨어지면 소수가 아님
      break         # 반복은 더 이상 불필요하여 중단
  else:             # 끝까지 나누어 떨어지지 않으면 다음을 수행
    print(n)
print(f'나눗셈을 실행한 횟수: {counter}')

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
나눗셈을 실행한 횟수: 78022

In [ ]:
# 1000 이하의 소수를 나열하기(알고리즘 개선1)

counter = 0                 # 나눗셈 횟수를 카운트
ptr = 0                     # 이미 찾은 소수의 개수
prime = [None] * 500        # 소수를 저장하는 배열

prime[ptr] = 2              # 2는 소수이므로 초깃값으로 지정
ptr += 1

for n in range(3, 1001, 2): # 홀수만을 대상으로 설정
  for i in range(1, ptr):   # 이미 찾은 소수로 나눔
    counter += 1
    if n % prime[i] == 0:   # 나누어 떨어지면 소수가 아님
      break
  else:
    prime[ptr] = n          # 소수로 배열에 등록 
    ptr += 1

for i in range(ptr):        # ptr의 소수를 출력
  print(prime[i])
print(f'나눗셈을 실행한 횟수: {counter}')

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
나눗셈을 실행한 횟수: 14622

In [ ]:
# 1000 이하의 소수를 나열하기(알고리즘 개선2)

counter = 0                 # 곱셈과 나눗셈을 합한 횟수 
ptr = 0                     # 이미 찾은 소수의 개수
prime = [None]*500          # 소수를 저장하는 배열

prime[ptr] = 2
ptr += 1

prime[ptr] = 3
ptr += 1

for n in range(5, 1001, 2): # 홀수만을 대상으로 설정
  i = 1
  while prime[i] * prime[i] <= n:
    counter += 2
    if n % prime[i] == 0:   # 나누어 떨어지므로 소수가 아님
      break
    i += 1
  else:                     # 끝까지 나누어 떨어지지 않았다면
    prime[ptr] = n          # 소수로 배열에 등록
    ptr += 1
    counter += 1

for i in range(ptr):        # ptr의 소수 출력
  print(prime[i])
print(f'곱셈과 나눗셈을 실행한 횟수: {counter}')

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
곱셈과 나눗셈을 실행한 횟수: 3774

리스트의 원소와 복사

In [ ]:
# 자료형을 정하지 않은 리스트 원소 확인하기

x = [15,64,7,3.14,[32,55],'ABC']
for i in range(len(x)):
  print(f'x[{i}] = {x[i]}')

x[0] = 15
x[1] = 64
x[2] = 7
x[3] = 3.14
x[4] = [32, 55]
x[5] = ABC



```
파이썬에서는 리스트 내 각 원소의 자료형을 다르게 사용할 수 있습니다.
```

In [ ]:
x = [[1,2,3],[4,5,6]]
y = x.copy()
x[0][1] = 9
x

[[1, 9, 3], [4, 5, 6]]

In [ ]:
y

[[1, 9, 3], [4, 5, 6]]



```
y[0][1]의 값까지 9로 업데이트 된다. 그 이유는 리스트의 얕은 복사를 수행하기 때문이다.
```

In [ ]:
# 깊은 복사
import copy
x = [[1,2,3],[4,5,6]]
y = copy.deepcopy(x)
x[0][1] = 9
x

[[1, 9, 3], [4, 5, 6]]

In [ ]:
y # x[0][1] 의 값이 9로 바끼기 이전 값을 복사

[[1, 2, 3], [4, 5, 6]]



```
얕은 복사와 깊은 복사
객체가 갖는 멤버의 값을 새로운 객체로 복사할 때 객체가 참조 자료형의 멤버를 포함할 경우
얕은 복사라고 하며, 이는 참조값만 복사하는 방식입니다.
깊은 복사는 참조값 뿐만 아니라 참조하는 객체 자체를 복사합니다. 즉, 객체가 갖는 모든 멤버
(값과 참조 형식 모두)를 복사하므로 전체 복사 라고도 합니다,
```